[2015-12-18 16:47] ticki opened #8 "Support alt, ctrl, backspace and so on."
Needed for sodium

[2015-12-19 01:54] LazyOxen opened #10 "Create layout managers"
This would allow a developer to quickly put together an application without having to calculate positioning and could offload some of the resizing logic.

A widget could default to absolute positioning of child widgets if no layout is specified.

[2015-12-19 02:15] LazyOxen commented on #10
Some thoughts  about implementation from some discussion with @stratact
- Should a layout _be_ a widget? or should a widget _have_ an optional layout.
    - if a widget is a layout, then you would still need to specify position and sizing information
    - if a widget has a layout, the layout would essentially "inherit" the size information of the owning widget, and use that to delegate space to s

[2016-04-04 22:22] icebit opened #18 "Theming support"
This would provide more ability for customization. Themes could be stored in TOML files.

[2016-06-19 01:10] ca1ek opened #20 "Add a function to close a window."
Title is sloppy, I couldn't come up with any better.

I want to create a button inside the window that closes the same window, how. I can't see a way to do it as of now.

[2016-07-03 18:00] rushsteve1 opened #21 "Deprecation and Build Failing"
The function `char_range_at` used in `text_box.rs` has been [deprecated as of Rust 1.9](https://doc.rust-lang.org/std/primitive.str.html#method.char_range_at) which is the cause of the current builds in both OrbTK and [OrbUtils](https://github.com/redox-os/orbutils) failing.

The recommended solution according to the documentation link above is to use a combination of the `chars()` and `len_utf8()

[2016-07-13 21:16] jackpot51 commented on #21
I have fixed this

[2016-07-13 21:16] #21 closed

[2016-07-13 21:16] jackpot51 commented on #20
If you drop the window, it will be closed

[2016-07-13 21:16] #20 closed

[2016-08-03 21:22] nihathrael opened #22 "Make Windows closable"
Currently there is no easy way to close a window after it has been opened, unless you implement the event loop yourself. I think there should be a `close()` function, that allows us to easily close the window again.

[2016-10-20 23:14] simondesloges commented on #22
A `close()` function was implemented for Window on commit 7d234c10. I believe this issue can be closed.

[2016-10-21 02:43] stratact commented on #22
Thanks for bringing this to our attention.

[2016-10-21 02:43] #22 closed

[2016-11-07 18:30] rushsteve1 opened #28 "Focus and Redraw Systems"
The current system of determining focus and determining if an widget needs a redraw is really problematic. It is convoluted and almost unreadable, as well as just being poor code:
[code]
Iterating through the list of widgets with the `widget_focus` field on the `Window` struct as the index of the focused widget is bad form. And using the `redraw` variable in that way is strange to say the least.

[2016-11-07 18:44] jackpot51 commented on #28
Not true. The widget can set redraw to true and return false. This code just means that upon stealing focus, the widget is forced to redraw.

Another need is for a widget to focus automatically, such as the username in `orblogin`. I agree that we should refactor the way focus works, I just don't know what that should look like.

[2016-11-07 19:12] NilSet commented on #28
I was thinking of having a `fn focus(Arc<Widget>)` function to send focus to another element.

[2016-11-07 19:51] rushsteve1 commented on #28
I like @NilSet's idea. Additionally I think that `widget_focus` should be some kind of reference to the widget itself.

[2016-11-09 06:56] simondesloges commented on #10
TLDR: I think container widgets being layouts would be better.

@LazyOxen by widget having a layout, do you mean the container widget has a layout, like java's Swing, or the contained widgets have layout information and the container has no layout information, like Python's Tkinter?

I hope the former, because tkinter's way is error prone (how do you handle a container with widgets asking for 2 di

[2016-12-11 00:11] jackpot51 commented on #10
@simondesloges Thanks for the input! I am working on something like what you have suggested

[2017-04-19 12:16] gregkatz opened #44 "When widgets overlap, clicks register on both widgets"
Steps to reproduce:
1. Run widgets example
2. Click Multi-Line Text widget to focus on it
3. Open menu and click "Reset Label" while mouse cursor is also over the text box

Expected behavior:
Label resets, but focus remains on the Multi-Line Widget.

Actual behavior:
Label resets, but focus moves to the text box

This was tested on Ubuntu. I'm not sure if this behavior is intentional, but it can m

[2017-08-26 09:47] Revertron opened #50 "Click events"
Did you know, that click event consists of mouse down and mouse up in one (small) spot?

I've just looked in the Button widget code, and I've got a heart attack :)

[2017-11-04 14:41] BojanKogoj opened #51 "Suggestion: CheckBox"
Create a CheckBox widget

Visually:
![image](https://user-images.githubusercontent.com/634075/32406102-7a70e09e-c172-11e7-89ea-a511643b9f9c.png)

Example usage:
[code]

Detailed UI

![checkbox](https://user-images.githubusercontent.com/634075/32406231-08a0c8a0-c175-11e7-9a27-b462d983a2e2.png)

[HTML example](https://codepen.io/bojank/pen/rYeJpG) (non interactive) of the above picture

[2017-11-04 15:15] BojanKogoj commented on #51
Example in application

![image](https://user-images.githubusercontent.com/634075/32406570-445639ec-c17b-11e7-8449-c0a5f22c275b.png)

[2017-11-04 19:18] BojanKogoj opened #52 "Suggestion: Container"
# Container

With three different layouts: Stack, Absolute, and Dock.

Stack layout would be the default, with top to bottom orientation.

These ideas are inspired by [Cascades Container](https://developer.blackberry.com/native/documentation/ui/core_controls/container.html) and [Kivy Layouts](https://kivy.org/docs/gettingstarted/layouts.html).

## Stack

![image](https://user-images.githubusercont

[2017-11-05 11:24] BojanKogoj opened #53 "Button default sizes"
By default, Button has no size or text offset. We should provide defaults if those are not set, so you don't need to set them every time. It would also help with having a "standard" button size in all apps.

I suggest the following:
- Button height: 35px
- Text offset: 11px
- Button width depends on text

![button-defaults](https://user-images.githubusercontent.com/634075/32414306-169f719a-c224-11

[2017-11-05 11:54] BojanKogoj opened #54 "Label default sizes"
Similar to [Button suggestion](https://github.com/redox-os/orbtk/issues/53), Label needs default size as well.

Current usage
[code]

After having default sizes

[code]

[2017-11-05 23:15] BojanKogoj opened #55 "Grid upgrade"
I'm missing some functionality
- [x] `clear()` - remove all entries
- [x] `remove(i, j)` remove element at position
- [x] `columns(n)` - define how many columns there should be in a row
- [x] `add(widget)` - works together with `columns`, instead of calculating a position in a grid you just add elements and they are put in place.

[2017-11-25 10:41] FloVanGH opened #57 "Suggestion: Documentation"
A documentation (Readme and rustdoc) should support novice by starting with orbtk or orbtk base application development.

[2017-11-25 10:51] FloVanGH opened #58 "Suggestion: Styleguide"
A styleguide should help to provide a consistent look and feel in redox and orbtk. It could be provided as part of the rustdoc or as extra web page.

The styleguide should contains following components:

- Color-Overview
- Font-Overview: Fonts, Sizes, Weights, ...
- Control-Overview
- Icon-Overview

[2017-11-25 10:55] FloVanGH commented on #51
It would be nice to use a Icon-Font e.g. for the CheckBox Icon. For the start we could use a OS Icon-Font like the Material Icon-Font from Google.

[2017-11-26 13:58] #55 closed

[2017-11-29 20:37] FloVanGH opened #60 "Suggestion: ComboBox"
<img width="655" alt="combobox" src="https://user-images.githubusercontent.com/6715107/33397663-9e589c16-d54c-11e7-93d7-89d6274dd08c.png">

**Example use**

[code]

[2017-11-29 21:25] jackpot51 commented on #60
That looks really good!

[2017-12-05 08:13] 3442853561 opened #62 "Can I develop an application with orbtk for redox on Windows?"
Can I develop an application with orbtk for redox on Windows?

[2017-12-05 20:02] jackpot51 commented on #62
Yes

[2017-12-08 09:46] 3442853561 commented on #62
Thank you very much.

[2017-12-08 09:46] #62 closed

[2018-01-09 12:55] FloVanGH commented on #60
Missing features:

- [ ]  Scrolling
- [ ]  Flyout placement (top / bottom)
- [ ]  Widget entries

[2018-01-09 12:58] FloVanGH opened #68 "KeyEvents pressed flag"
The orbtk KeyEvent is missing a pressed flag. The KeyEvents should also be added to the events of window by key release.

[2018-01-11 15:15] #68 closed

[2018-01-12 06:51] robbycerantola commented on #60
I'm trying to use ComboBox : if I place the widget using  .position(x,y)  when x is > 200 the entries are progressively chopped until they completely disappear.
I think there is something wrong when checking if the entry fits inside the flyout rect (or the Entry rect.width is not updated correctly).

[2018-01-12 20:27] FloVanGH opened #71 "HiDPI support"
Not a primary feature but we should it keep in mind.

http://blog.qt.io/blog/2016/01/26/high-dpi-support-in-qt-5-6/

[2018-01-13 01:11] jackpot51 commented on #71
This is a good feature to implement. I am unsure where the features should go, that is, which library. My guess would be orbclient and orbfont

[2018-01-14 10:42] FloVanGH commented on #71
orbclient and orbfont could be the right place, because then not only orbtk is benefits from HiDPI scaling.

[2018-01-14 10:49] FloVanGH opened #72 "Widget children"
The construction of a widget should be consists of other widgets as children. E.g. a button consists of a rectangle and a label.

https://www.ics.com/blog/creating-qml-controls-scratch

[2018-01-14 11:01] FloVanGH opened #73 "Rewrite of the system event system"
Here my suggestion for a new system event system:

## Event capture
Events should be only captured by widgets, that are interested in the event. e.g. mouse events should be only propagate to widgets, that contains the current mouse position.

## Propagation
Propagate events from root to leaf (tunnelling / preview events) and than back from leaf to root (bubbling). Events could be interrupted with

[2018-01-20 20:30] FloVanGH opened #75 "Visibility enum"
orbtk should provide a visibility enum for widgets. By Visibility::Visible the widget should be drawn, by Visibility::None it should not be drawn and by Visibility::Collapsed it shouldn’t be drawn andit should shrink to with/height = 0.

[2018-01-20 20:38] FloVanGH opened #76 "Declarative Uis"
Maybe it could be interesting to use a declarative language for building an UIs and new widgets. Compare Qml in Qt http://doc.qt.io/qt-5/qmlapplications.html and XAML in WPF https://docs.microsoft.com/en-us/dotnet/framework/wpf/advanced/xaml-overview-wpf. A base for the orbtk declarative language could be RON https://github.com/ron-rs/ron.

[2018-01-23 07:11] FloVanGH commented on #54
Could be closed. Implemented with #74.

[2018-01-23 07:11] FloVanGH commented on #53
Could be closed. Implemented with #74.

[2018-01-23 07:12] FloVanGH commented on #28
Implemented a base version of a FocusManager with #74.

https://github.com/redox-os/orbtk/blob/master/src/focus_manager.rs

[2018-01-23 20:21] #53 closed

[2018-01-23 20:21] #54 closed

[2018-01-23 20:22] #28 closed

[2018-01-23 21:00] BojanKogoj commented on #52
Partially implemented with StackLayout in https://github.com/redox-os/orbtk/pull/74

[2018-01-23 22:03] BojanKogoj commented on #72
For debugging purpose we need widget tree, for example
[code]

[2018-01-24 04:16] vpzomtrrfrt opened #77 "Doesn't work well with i3wm"
I haven't tried other window managers, but at least on i3, windows created with orbtk are floating, rather than tiling.  This is unexpected, as the default state is tiled for most other applications

[2018-01-24 06:57] FloVanGH commented on #77
Could you test orbterm with i3 wm? If you observe the same behaviour there, than it could be a problem with orbclient.

[2018-01-24 15:39] vpzomtrrfrt commented on #77
orbterm appears to work fine

[2018-01-24 15:45] jackpot51 commented on #77
Did you mark the window as resizable?

[2018-01-24 15:47] jackpot51 commented on #77
Here is an example:

[code]

[2018-01-24 16:03] vpzomtrrfrt commented on #77
That works, though the window seems to be manually resizable without the flag

[2018-01-27 10:12] FloVanGH opened #79 "Animations"
orbtk should provide the ability to handle animations. Because orbtk it should provide default css animations: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations.

It's probably going to take a lot of work. It need work on a animation infrastructure and need work on the css engine. But the work will pay off.

[2018-01-27 10:14] FloVanGH opened #80 "Z Index"
orbtk should provide a z index for widgets https://blogs.msdn.microsoft.com/wpfsdk/2006/06/13/controlling-z-order-using-the-zindex-property/. That should it make easier to create overlays.

[2018-01-29 00:56] angelrain1 opened #81 "please change Rust-SDL2 to version 0.31 for "Bundled" Feature"

[2018-01-31 11:21] FloVanGH opened #82 "Enabled flag"
It should be possible to enable / disable widgets like button.

[2018-01-31 13:53] jackpot51 commented on #81
Yes, it should be updated

[2018-02-01 10:42] Vagdish commented on #76
May I add KV for Kivy as an example ? https://kivy.org/docs/guide/lang.html

[2018-02-01 12:37] FloVanGH commented on #76
Thank you I'll take a look at it.

[2018-02-01 17:05] FloVanGH commented on #81
Done

[2018-02-01 17:05] #81 closed

[2018-02-03 23:00] quadrupleslap commented on #77
Not sure if related, but this also happens with GTK for me.

[2018-03-04 23:24] ZakCodes opened #84 "Text box doesn't filter numbers"
In the example in `examples/filtered.rs`, one of the textbox is supposed to filter characters that aren't numbers but it isn't the case.

[2018-03-05 00:03] #84 closed

[2018-03-10 15:48] keawade opened #87 "Unable to compile examples"
I am not able to compile `orbclient`. I just keep getting errors saying that four features cannot be used on the stable release channel.

I'm running [Pop!_OS](https://system76.com/pop), a variant of Ubuntu, and I've installed Rust 1.24.1 using the script [over on rust-lang.org](https://www.rust-lang.org/en-US/install.html) and installed SDL2 via `apt install libsdl2-dev` per [the instructions](ht

[2018-03-10 23:51] sajattack commented on #87
We require nightly to be used.

[2018-03-11 04:46] #87 closed

[2019-11-15 13:21] FloVanGH commented on #82
#80

[2019-11-25 10:48] #8 closed

[2019-11-25 10:48] #10 closed

[2019-11-25 10:48] #18 closed

[2019-11-25 10:48] #44 closed

[2019-11-25 10:48] #50 closed

[2019-11-25 10:48] #51 closed

[2019-11-25 10:48] #52 closed

[2019-11-25 10:48] #57 closed

[2019-11-25 10:48] #58 closed

[2019-11-25 10:48] #60 closed

[2019-11-25 10:48] #71 closed

[2019-11-25 10:48] #72 closed

[2019-11-25 10:48] #73 closed

[2019-11-25 10:48] #75 closed

[2019-11-25 10:48] #76 closed

[2019-11-25 10:48] #77 closed

[2019-11-25 10:48] #79 closed

[2019-11-25 10:48] #80 closed

[2019-11-25 10:48] #82 closed

[2019-12-03 06:54] hanckmann opened #96 "Update failed because input buffer is too small"
I just did a clone of the repo and typed: cargo run --example widgets

This was the result: Update failed because input buffer is too small. Required size for 956 x 1036 window (1x scale) is 3961664 bytes but the size of the input buffer has the size 1366560 bytes

This is the backtrace when run with `export RUST_BACKTRACE=1`:
[code]
I am a rust beginner, so I am not sure how to resolve this or wh

[2019-12-03 06:58] FloVanGH commented on #96
@hanckmann welcome and thank your for the report. Which operating system / desktop envioment do you use.

[2019-12-03 07:03] hanckmann commented on #96
Yes, I should have provided that to begin with.
I am on ArchLinux
[code]
I run Xfce4 with i3 as wm on Xorg with Intel:

- xf86-video-intel 1:2.99.917+897+g0867eea6-
- extra/xorg-server 1.20.6-1
- xfce4 4.14.0-1
- i3-wm 4.17.1-1

[2019-12-03 18:47] FloVanGH commented on #96
@hanckmann could you do me a favor and could you check if you have the same issue with the noise example of https://github.com/emoon/rust_minifb. Does it happen after start or after resize the window?

[2019-12-03 18:57] FloVanGH opened #97 "TabsWidget"
# Context

The TabWidget should be used in a navigation context.

# Problem description & Solution

The TabWidget should be used to organize different content on different views. The content should be switched by select from a list of items.

# Examples and MockUps

<img width="377" alt="image" src="https://user-images.githubusercontent.com/6715107/70080408-c7726800-1606-11ea-81c2-e4b189608f13.png

[2019-12-03 19:03] FloVanGH opened #98 "Drag 'n' Drop infrastructure (intern)"
# Context

Drag 'n' Drop should be used to move an widget (item) from one place to another.

# Problem description & Solution

It should be possible to implement Drag 'n' Drop inside of an OrbTk application. To make it easier to implement such a feature a base infrastructure for intern Drag 'n' Drop should be integrated in OrbTk.

[2019-12-03 19:05] FloVanGH opened #99 "Drag 'n' Drop infrastructure (extern)"
# Context

Drag 'n' Drop should be used to move an content system GUI wide from one place to another .

# Problem description & Solution

It should be possible to implement Drag 'n' Drop between an OrbTk application and the rest of GUI applications of system. To make it easier to implement such a feature a base infrastructure for extern Drag 'n' Drop should be integrated in OrbTk.

[2019-12-03 19:09] FloVanGH opened #100 "Ubuntu Touch support"
# Context

OrbTk applications should be run on the mobile operating system Ubuntu Touch https://ubports.com/.

# Problem description & Solution

It should be possible to build, run and deploy OrbTk applications on Ubuntu Touch.

# Examples and MockUps

![image](https://user-images.githubusercontent.com/6715107/70081310-92671500-1608-11ea-9b03-f6976989bca3.png)

[2019-12-03 19:14] FloVanGH opened #101 "Android support"
# Context

OrbTk applications should be run on the mobile operating system Android https://ubports.com/.

# Problem description & Solution

It should be possible to build, run and deploy OrbTk applications on Android.

[2019-12-03 19:15] FloVanGH opened #102 "iOS support"
# Context

OrbTk applications should be run on the mobile operating system iOS.

# Problem description & Solution

It should be possible to build, run and deploy OrbTk applications on iOS.

[2019-12-03 20:22] FloVanGH opened #103 "Layouts incorrect for stacks within stacks"
Given the following application with a vertical stack containing three horizontal stacks, the layout is getting calculated strangely, which causes it to render like so:

![image](https://user-images.githubusercontent.com/6715107/70086519-d7904480-1612-11ea-8894-d5598b424404.png)

[code]

**Copied from GitLab board (created by @mmstick)

[2019-12-03 20:23] FloVanGH commented on #103
Comments from @mmstick on the original issue:

[2019-12-05 09:17] hanckmann commented on #96
Hi,
1) I just tested the rust-minifb noise example, and that runs without issues.
2) Good catch with the question on "after start or after resize"!
So, I use i3-wm as a window manager. It is a tiling window manager and resizes the window when created (I am not too much into those details though).
I forced i3-wm to open the window as floating window, and than the window is created. After this, I ca

[2019-12-05 09:18] hanckmann commented on #96
Aah, and just for your info. The rust-minifb noise example runs smoothly also when started as tiling window.

[2019-12-05 12:54] FloVanGH commented on #96
@hanckmann thank you. The issue should be fixed now it was related to minifb https://github.com/emoon/rust_minifb/issues/105.

[2019-12-06 10:09] hanckmann commented on #96
Thanks it works now indeed.

[2019-12-06 10:09] #96 closed

[2019-12-06 10:14] hanckmann opened #105 "Switching desktop issue"
**Describe the bug**
When starting an orbTK application, then change desktop, the orbTk application becomes black. It will only update upon a trigger (clicking a button or resizing the window).
Note that clicking a button while not seing the button is a real challenge

**To Reproduce**
Steps to reproduce the behavior:
1. Start application
2. Switch to other desktop
3. Switch back to the desktop on

[2019-12-06 10:28] hanckmann opened #106 "Beginners documentation"
# Context

There is very (too?) little documentation available, especially for newbies.

# Problem description & Solution

Documentation can be generated with: `cargo doc --no-deps --open`
The resulting documentation is nice and all, but a bit to daunting for a beginner.
The examples are super helpful, but do not provide sufficient context.
It would be helpful to have some documentation on how to

[2019-12-06 18:33] FloVanGH opened #108 "Task: First edition of OrbTk Book"
# Task

- [ ] Finish section "Write your first App" (counter example, including screenshots)
- [ ] Review of native English speaker

# Related to

#106
#107

# Assigness

@kivimango
@rzerres

[2019-12-06 18:36] FloVanGH commented on #106
@hanckmann git push --set-upstream origin 147-book. I've started with an initial version of the OrbTk book (check #107 and #108). If you like you could write the chapter "Write your first app" if you like. I could also assign you to the related issue and pull request.

[2019-12-06 18:39] FloVanGH commented on #105
@hanckmann I had the same issue today, because I've tested for the first time a tilling window manager and I really like it, thank you 😃. On the next days I will evaluate winit as window backend, maybe this would fix some issues. I keep you updated.

[2019-12-06 21:07] Shootertrex opened #110 "Examples initially load with black screen"
**Describe the bug**
When running any of the examples, the window will load as a black screen until clicking into it. Clicking into the `image` example does not display the image though, so it may be related to an animation or something.

**To Reproduce**
Steps to reproduce the behavior:
1. run `cargo run --release --example calculator`
2. window is black
3. click anywhere in the window
4. calcula

[2019-12-06 21:13] FloVanGH commented on #110
@Shootertrex thank you for your report. What desktop environment do you?

[2019-12-06 21:18] Shootertrex commented on #110
I am using KDE Plasma 5.17.3

[2019-12-06 21:21] FloVanGH commented on #110
I will check it.

[2019-12-07 13:15] hanckmann opened #111 "Text resizing"
**Describe the bug**
When resizing a window, the text block font size also changes.

**To Reproduce**
Start the "My first OrbTk app".
Resize the window.

**Expected behavior**
The window should resize, but the content should remain in tact.

**Screenshots**
![large](https://user-images.githubusercontent.com/925657/70375251-e40aea80-18fb-11ea-9dc3-d652a3bc404c.png)
![small](https://user-images.gith

[2019-12-07 13:24] hanckmann commented on #106
FYI.
I have started with the "first app" chapter.
I must admit that this is the first time doing this. So you might have to help me out here.
I have forked the repo, checked out the 147-book branch, and editing and committing my changes there.
I will ask later how to get those changes into your repository via a pull request (which I have also never done before).

[2019-12-07 18:02] FloVanGH commented on #111
I think it could also be related to the minifb resize bug. There is an new update. I will check it today.

[2019-12-07 18:03] FloVanGH commented on #110
Maybe there is a working solution. I will check it and let you know.

[2019-12-07 18:06] FloVanGH commented on #106
That’s great. Did you find the files of the book? A info bar at the top your repository should shown if you want to create a pull request for sour branch.

[2019-12-07 22:26] Light-Wizzard commented on #110
When I run the example I can see the display, if I hit the shade button, the screen comes back black, until I click in it, as described above, I am in Cinnamon, and added shade to window, I know it is mostly a KDE thing, but it seems the shade has its own event handler that you are not trapping, I think in KDE it toggles shade as an effect, giving a window an opening look, and a drop-down look whe

[2019-12-08 12:31] SerhiiBilyk commented on #106
@hanckmann @FloVanGH Hi guys, I would like to help with book. I made a little research and I found that the orbrk is the most understandable GUI framework for me and it just work. What I can't say about other frameworks.

[2019-12-08 19:05] millscale opened #112 "SVG Icon Widget"
# SVG Icons

SVG Icons can be used where possible. PNG will have to be available as a fallback.

# Notes Regarding the SVG Standard

The SVG standard seems quite... comprehensive. Implementations of the standard seems to list the features they don't support more often than the features that they do.

There is the SVG 1.1 Spec
https://www.w3.org/TR/SVG11/text.html

And the SVGTiny 1.2 Spec
https://

[2019-12-08 19:19] FloVanGH commented on #106
@SerhiiBilyk @hanckmann is working on the chapter write your first app. If you are interested you could start reading the book and give us feedback. If you miss something you could add it if you like. Maybe you could start with a second chapter. What do you think @hanckmann?

[2019-12-08 20:33] Light-Wizzard opened #113 "What is the OrbTk way to Localization"
I am new to Rust and OrbTk, so I am trying to figure out how to use it, documentation from cargo doc is sparse,  so I can only assume you have not got that far, or have not revealed your plans in a place I could find, so as far as integrating Localization into the framework, I do not know if you have any plans at this time, but I am sure you have thought about it, leaving it up to the user to loca

[2019-12-08 21:47] SerhiiBilyk commented on #106
@hanckmann
[code]
How can I import StatesContext ?
I cant find it even in documentation.

[2019-12-09 04:59] FloVanGH commented on #106
@hanckmann which dependency do you use in your Cargo.toml file `orbtk="0.3.1-alpha1"` or `orbtk= { git = "https://github.com/redox-os/orbtk.git", branch="develop" }`. You have to use the git version, StatesContext is a new feature and not now available on the crates.io version.

[2019-12-09 09:42] millscale opened #114 "SDF (Signed Distance Field) Support"
# SDF advantages and use cases

SDF, simply put, generates a vector representing a given raster image.
This is great for the rendering of icons at any size, since the derived SDF is really small and can be rendered (Reconstructed) at any size.

See [this](https://github.com/ConnyOnny/sdfgen) for a way greater explanation, and crate 📦

SDF has great uses with fonts as well, and a great use is TextM

[2019-12-09 10:24] darkskygit opened #115 "load external font"
# Context

currently orbtk uses the built-in Roboto font, and it is load using register_font in `Application::new().window()`, but it looks like there is no way to add fonts from the external and skip built-in font loading

# Problem description & Solution

built-in font do not contain CJK characters, need a way to load font from outside

# Examples and MockUps

load parameter font from window wid

[2019-12-09 19:11] SerhiiBilyk commented on #106
I made a simple  [counter](https://github.com/SerhiiBilyk/gui/blob/master/src/main.rs)
But, I don't know/understand how to bind MainView with state. See [here](https://github.com/SerhiiBilyk/gui/blob/master/src/main.rs#L38)
Can we get rid of [this](https://github.com/SerhiiBilyk/gui/blob/master/src/main.rs#L63) ? There is  an infinity loop without this line

[2019-12-09 20:58] FloVanGH commented on #113
On the localization topic there is nothing concrete yet. But it will be important for OrbTk. We have to check what are the possibilities and what we could well integrate. So I'm glade for each input and experience. I will create an localization feature request soon, to keep it on track.

[2019-12-09 21:01] FloVanGH commented on #115
Would be make sense to register / load fonts by the window widget. There you have a central place to do it. An alternative could be do register / load the fonts with a theme.

[2019-12-09 21:11] FloVanGH opened #116 "Animations"
# Context

At the moment visual appearance is very static. Visual elements could also be in motion by user input e.g. move the scroll bar. What is needed is the possibility to move visual elements from code. This would make the appearance of an OrbTk more attractive and give us the possibility to direct the view of an user to important elements on a view.

# Problem description & Solution

It shou

[2019-12-09 21:26] SerhiiBilyk commented on #106
@FloVanGH is [this](https://github.com/SerhiiBilyk/gui/blob/master/src/main.rsl) ok for minimum counter example?

[2019-12-09 21:40] FloVanGH commented on #106
@SerhiiBilyk the link is broken.

[2019-12-10 00:42] Light-Wizzard commented on #113
I would like to help, I have many ideas, the first would be to write an app, let's call it OrbLingo, it will manage the text version of the po file, depending on i18, or i20, and using a Google Translation account, will populate all the fields, and create all the po files, for all the selected languages.

How to get the data that needs to be translated is the biggest issue, the best way is up to y

[2019-12-10 05:35] SerhiiBilyk commented on #106
@FloVanGH https://github.com/SerhiiBilyk/gui/blob/master/src/main.rs

[2019-12-10 05:48] millscale opened #117 "Always On Top Button"
# Always on Top, great for utility apps
A user wants to have one window/widget/application always be on top of other windows.

# Current Window behaviour switches between windows (as expected)
If a Always On Top Button is added to a window, it might be great for apps like the Calculator, that the user will always want to keep on top when doing repetitive tasks.

# Discussion Points
There will prob

[2019-12-10 06:21] s0kil commented on #110
Experiencing the same problem on Ubuntu 19.10

[2019-12-10 08:17] millscale commented on #116
I found this last night, I think it might help?

https://crates.io/crates/vect

I will start researching tweening libraries

[2019-12-10 08:37] millscale commented on #116
@FloVanGH

This seems to be a quite nice tweening library, and it wraps easer.rs. I will try and check it out today if I get a chance!

https://crates.io/crates/pareen

[2019-12-10 10:48] FloVanGH commented on #116
@millscale thank you :-). The crate looks promising. If you need some input let me know.

[2019-12-10 10:50] FloVanGH commented on #117
This topic will need investigation. How we could implement such a feature with minifb or winit. And it would be necessary to check this behavior on Redox, Windows, macOS and different Linux desktops.

[2019-12-10 10:52] FloVanGH commented on #110
At the moment we have a collection of bugs related to minfb. The developer of minifb is working on that bugs. But I will implement an experimental winit based window backend soon. Maybe that could be solve this problems too.

[2019-12-10 11:01] millscale commented on #117
I understand it is a tricky one. I just realised that it was really important, after I read that it was the _second highest feature request_ on Microsoft Feedback Hub. They only added the functionality recently to the Calculator specifically.
https://github.com/microsoft/calculator/issues/78

[Apparently Ubuntu has a pin on top feature](https://github.com/microsoft/calculator/issues/78#issuecommen

[2019-12-10 11:04] millscale opened #118 "Multi-Touch and Gesture Support"
# Touch Screens needs Multi-Touch support and Gestures
There is a need to use gestures on touch screen platforms. Multi-Touch input is required for that.

# Get Native Input Touch Data from platform

With the planned Android, iOS and Ubuntu Touch support, there is a need to register and record multiple touch events, so that gestures like pinch zoom, palm swipe etc can be used, platform appropriate

[2019-12-10 11:18] millscale commented on #117
I see this in winit/src/window.rs

Ln 153.
`
    /// Whether the window should always be on top of other windows.
    ///
    /// The default is `false`.
    pub always_on_top: bool,`

[2019-12-10 13:29] FloVanGH commented on #118
Multi touch support is definitely a high priority feature for the mobile support.

[2019-12-10 13:30] FloVanGH commented on #117
That was fast. Thank you for the research.

[2019-12-10 15:21] Ltrlg opened #120 "Weird String16::push"
Looking at the documentation of `String16::push`, I found both its documentation and implementation weird

As of 53c7d6fe, it looks as follows:
[code]

  - First (which is what bring me looking at the implementation), calling “slice” a `char` is wrong.
  - Second, there is nothing preventing `char` from containing a non-BMP value, which would get truncated by the cast.
    - This means using this

[2019-12-10 15:28] FloVanGH commented on #120
Yes the String16 struct needs a little bit love. Thank you for the hint. I think we should fix this issue soon. I also want to provide a better compatibility to the default  String.

[2019-12-10 18:27] mmstick opened #121 "Procedurally derive new and setter methods for types"
Procedural macros that could eliminate a lot of the boilerplate that we are currently doing by hand.

- [derive-new](https://github.com/nrc/derive-new)
- [derive_setters](https://github.com/Lymia/derive_setters)

[2019-12-10 18:49] FloVanGH opened #122 "Z-Axis"
# Context

To create widgets like menus, drop downs and dialogs it should be possible to stack widgets on z axis without to respect the position of the widget in the tree.

# Problem description & Solution

Implement an z position property for all widgets. Widgets with a greater z index are rendered over the widgets with lower z index. The event system should also respect the given z position prop

[2019-12-10 18:54] FloVanGH opened #123 "Task: Z-Axis"
# Tasks

- [ ] Add Z property to all widgets
- [ ] Render widgets in z order
- [ ] Implement Z-Axis in event system
- [ ] Implement example widget (ComboBox / DropDown)

# Related

#122

[2019-12-10 19:01] FloVanGH commented on #106
@SerhiiBilyk looks great.

Here some feedback:

[code]
Yes it is. Check the work in progress todo app example: https://github.com/redox-os/orbtk/pull/109/files#diff-88def14d15394829e2ec6d406d7342a7R13. The App state uses a VecDeque for the actions / events. So you can pop all incoming actions from the vec deque instead of have an single action and set `self.action = None;`

The window title should

[2019-12-10 19:30] SerhiiBilyk commented on #106
@FloVanGH Thank you

[2019-12-11 13:20] millscale commented on #118
From my research it seems that there is no way that we can avoid having to port a bunch of drivers, if we want complete support for Touch on Desktops as well, which is a pain.

[This](https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux.git/tree/drivers/input/touchscreen?h=v5.1.3) is list of Linux drivers for Touchscreen Devices.

It might be best/easiest to start with the Raspberry Pi Tou

[2019-12-11 16:02] ghost opened #125 "doc: How does this work?"

[2019-12-11 16:33] FloVanGH commented on #125
How does what work?

[2019-12-11 17:29] coolpast commented on #125
How it become cross platform

[2019-12-11 18:42] FloVanGH commented on #125
Do you want it in form of an guide / documentation or do you just want to know?

[2019-12-12 12:34] millscale commented on #125
I think this can be removed? @FloVanGh

[2019-12-13 01:57] valkum commented on #122
Isn't the way flutter handles that a better solution?
See [PopupMenuButton's](https://api.flutter.dev/flutter/material/PopupMenuButton-class.html) use of [Overlay](https://api.flutter.dev/flutter/widgets/Overlay-class.html)

[2019-12-13 12:43] FloVanGH commented on #122
@valkum thank you for the hint. Looks like a good solution. I will check it in detail.

My thought was something like this:

[code]

[2019-12-13 12:55] valkum commented on #122
The problem with that is, it breaks the basic assumption that z goes up when descending into the tree.
What if you want to use multiple widgets that set a z-index? They can't be hardcoded and you have to do z-axis layouting manually. Otherwise you could have basic widgets drawn behind something.
Having a widget early in the tree that basically delegates the order in the z axis seems to be the bett

[2019-12-14 08:18] Ltrlg commented on #120
This specific issue is fixed. I will continue to work on String16 and open new issues/PR as needed.

[2019-12-14 08:18] #120 closed

[2019-12-14 08:34] Ltrlg opened #128 "Replace String16 with std::string::String"
… said @FloVanGH. Let’s look at what is needed.

  - [ ] “bytes” is technically correct for `u16` but quite unusual. Should `String16` stick with it or use more appropriate wording? The selected option should be documented.
  - [ ] `String16::as_bytes_mut` allows storing invalid UTF-16. If the contract of the class is to store valid UTF-16, then it should be tagged `unsafe`. The selected contract

[2019-12-16 17:55] e1019 opened #129 "ImageWidget Stretch/Fill/Fit"
I'm not sure if this is already a feature or not, but I could not figure out how to do this after looking around.
Let's say I have a 2400x2400 background image and a 640x480 window.  As far as I can tell, the only option for displaying such an image currently is to just show a 640x480 area of the image, like this.
![image](https://user-images.githubusercontent.com/55662866/70929631-31920080-203c-1

[2019-12-16 21:12] FloVanGH commented on #129
Image resizing is not yet implemented. Thank you for the issue.

[2019-12-24 21:24] joefiorini opened #130 "How to get TextBox state in main"
I’m trying to write an app that does the following:

1. Gets launched from a command line interface
2. Shows a window with a textbox and button
3. When the button is clicked it hides the window, prints the text from the box to stdout, hides the window & exits

One approach would be to print the value in the update when the button is clicked, but that won’t be very flexible for additional use cases

[2019-12-27 06:43] StevenDoesStuffs opened #131 "Macro for defining templates"
# Context and Problem
I was looking at the calculator example and thought that a macro would be perfect for cleaning up how templates are defined.
# Solution / Example
I've ported over part of the simple example.
[code]
which translates into
[code]

The syntax is inspired by haskell.
I'd be willing to write this macro myself (should be fairly simple...)

The advantage is that this drives back righ

[2019-12-27 18:10] FloVanGH commented on #130
You could try to insert a closure as property in the root child of the window. And access that closure in the update method.

e.g.

[code]

You could also register a service in the registry that handles your code. The registry is also accessible inside of the states.

[2019-12-28 11:21] FredericaBernkastel opened #132 "How to make Canvas update continuously"
I've been stuck there for 3 days.
`examples/canvas.rs` tells how to make canvas render on button click, but i have a long running thread defined in main. It draws a new image 60 times a second into static framebuffer. Then in `RenderPipeline::draw` function of the canvas, i can read data from the framebuffer.
The only problem, how to make canvas redraw automatically when new data is ready?
I can't

[2019-12-28 11:42] FloVanGH commented on #131
I like your idea. And I would be happy if we could reduce the necessary code in the template.

What could be a disadvantage with a template macro is that you have less functionality in ide like good auto completion.

But maybe it could be a benefit as an additional alternative to the non macro way.

If you want to create an PR I will review it.

[2019-12-28 11:49] FloVanGH commented on #132
Unfortunately this is not possible at the moment. The only way to trigger redraw is an event. One of the next topics is to introduce ways to easily handle tasks in other threads and async task. We also want to implement a signal mechanism that could also trigger a redraw.

But I think I have a temporary solution how I could help you with your problem. Is it possible that you share the code with me

[2019-12-28 12:24] FredericaBernkastel commented on #132
Yes, it's [OpenCL GPU renderer](https://github.com/FredericaBernkastel/OpenCL_Attractor-rust). I'm new to rust, do you want me to provide a simplified example?

[2019-12-28 13:12] FredericaBernkastel commented on #132
Done. Pressing "render" button will just update gui, render thread works all the time.
https://gist.github.com/FredericaBernkastel/7e342621ac097721101fc4f655c9634f

[2019-12-28 18:04] FloVanGH commented on #132
Ok nice. I'll look at it tomorrow.

[2019-12-29 05:58] cdaringe opened #133 "rfc: menubar support in scope"
# Context

n/a

# Problem description & Solution

i want my gui's entrypoint/window to be launched from a menubar

# Examples and MockUps

is a cross platform menubar implementation in scope for orbtk?

more or less i'm wanting to swap my electron menubar usage with a 1st class native widget set

[ref 1](https://github.com/maxogden/menubar)

[2019-12-30 01:13] joefiorini commented on #130
Thanks for the reply! I feel dense, but I've been scouring the docs, source code & examples and can't figure out for the life of me how to register a custom service. I can see where a `registry` is created when I call `Application.window` (and contains the `settings` service) but that registry doesn't seem to be passed to anything I have access to. I can also see in `State::update` where I have ac

[2020-01-02 09:49] DoumanAsh opened #134 "TextBox has weird behavior with deleting input text"
**Describe the bug**
When you input text and later try to remove it b using backspace, it often fails.
If you click once, it just resets to previous position
If you press and wait, then it starts erasing, but can ocassionally stack

**To Reproduce**
Steps to reproduce the behavior:
1. Create simple window with text box:
[code]

2. Start and input text
3. Attempt to erase text

**Expected behavior*

[2020-01-03 04:00] jlgerber opened #135 "Question: Tree view & table view planned?"
I see a list view, and a ticket covering a TabsWidget, but i dont see any plans for a treeview or a table view. Are these planned? They seem to be pretty standard fare in ui toolkits (qt, gtk, etc)

[2020-01-03 08:30] DoumanAsh commented on #134
Nevermind, I checked master and it is fixed there

[2020-01-03 08:30] #134 closed

[2020-01-03 17:51] justinwilaby opened #136 "Examples: 7-11% idle CPU Load"
**Describe the bug**
Running `cargo run --example widgets --release` produces a UI with an idle CPU load ranging from 7-11%.

It appears that `State#update` is called continuously even when no state changes have occurred. I'm not sure if these calls are necessary but wanted to bring this to your attention. Idle CPU loads are generally indicative of defects and are non-starters for projects intende

[2020-01-06 18:15] FloVanGH commented on #135
TreeView and TableView are to important widgets and will be part of OrbTk. Not all issues are not yet moved from gitlab. I hope I could finish it in January.

[2020-01-06 18:16] FloVanGH commented on #136
Thank you for the report. This will be optimized soon.

[2020-01-06 18:20] FloVanGH commented on #133
OrbTk will provide a menu widget with menu items. If the target platform provides a native menu like macos it will use it otherwise OrbTk provides a custom menu.

[2020-01-06 18:22] FloVanGH commented on #132
Sorry for my delayed answer. I want to finish one topic and after that I will check your code and will provide a basic way to request redraw.

[2020-01-06 18:31] cdaringe commented on #133
Sorry, I meant this all to be `StatusBar`.  OSX conflates this terminology in a couple of places, and I got tripped up :-).

[2020-01-07 03:28] billop commented on #71
Why was this closed? I can't find an upstream issue you hinted at.

[2020-01-08 06:03] FloVanGH commented on #122
You're right. I've checked the flutter documentation and it is a better way. I will add something similar to OrbTk. Thank you.

[2020-01-08 06:09] FloVanGH commented on #130
There is also an `init` method that could be implemented for State. It will called only one time after the widget is created. There you could register your service like `registry.register("my_service", MyService::default());`

[2020-01-08 06:14] #122 closed

[2020-01-08 06:14] #123 closed

[2020-01-08 06:15] FloVanGH opened #137 "Task: Overlay"
Overlay widget should be used to draw its children on the top.

- [x] Absolute Layout
- [x] Overlay widget
- [x] Access overlay widget from Context
- [x] Add example

[2020-01-08 07:17] FloVanGH commented on #132
It is now possible to sent an update request.

This works now:

[code]

[2020-01-08 11:57] FredericaBernkastel commented on #132
Thanks, it works! :heart:

[2020-01-08 12:16] FloVanGH commented on #132
You're welome

[2020-01-08 12:16] FloVanGH commented on #132
You're welcome

[2020-01-08 12:16] #132 closed

[2020-01-08 12:18] FloVanGH commented on #132
You're welcome 🙂.

[2020-01-13 04:27] marcianx opened #139 "Keyboard and general accessibility"
I just tried some of the examples, and I noticed that I was not able to tab through widgets (buttons, text boxes, slides, etc). Are there by any chance any plans for keyboard and general accessibility?

[2020-01-14 08:35] MiyamuraMiyako opened #140 "Frameless window support request"
# Context
I want to self define Window frame.

# Problem description & Solution
I have no idea.

# Examples and MockUps
Window::create()
    ......
    .frame(false)
    .build(ctx);

[2020-01-14 12:48] afonichev opened #141 "[Web] Window does not change its size automatically"
When you change the size of the browser window, nothing happens. When the page is reloaded, the new sizes are applied.

How to fix it?

[code]

![image](https://user-images.githubusercontent.com/15726637/72345210-2b974a00-36e4-11ea-8068-6e24103f6acc.png)

Reducing the size of the browser window

![image](https://user-images.githubusercontent.com/15726637/72345233-3baf2980-36e4-11ea-8c6d-f1621e4b40

[2020-01-14 17:09] ecreeth opened #142 "[Proposal] OS crates separation"
First, I am not an expert in `Rust` and I do not know how they plan to structure this project when supporting` android`, `ios` and `ubuntu touch` natively.

I think it would be good to separate the different platforms in crates, this is useful for people with little knowledge in `Rust` and who want to contribute to this project. :smile: I hope it helps. Also, I think it would be good to separate i

[2020-01-14 20:25] ecreeth commented on #115
Maybe this can help [font-kit](https://github.com/servo/font-kit)

[2020-01-14 22:01] ecreeth opened #143 "[Proposal] Add macro to bind styles with widgets"
# Context

My proposal is to create a **macro** that allows us to **bind** styles locally and globally to our widgets

# Examples and MockUps

[code]

[2020-01-15 18:00] MagixInTheAir commented on #142
Maybe an `orbtk-core` crate, along with `orbtk-platform-XXX` would make sense. Or keep everything in a single crate but refactor the code to clearly decouple the core and platform-dependant code

[2020-01-18 16:35] Zwo1in opened #144 "Need help with message sending"
Hi,
first of all, thank you for a good work. I'm using orbtk to create an installer for another program for Windows. I would like to get all the configurations from user in one view and then send it to installation view.
Here is my sending view's state:
[code]
creation of receiving view:
[code]
and receiving view's state implementation:
[code]

I thought that `target_widget: &str` from `ctx.send_m

[2020-01-18 19:31] Zwo1in opened #145 "font_size takes no effect when appending child via Context"
**Describe the bug**
As in title, no matter what font size I specify when creating new TextBlock, the outcoming font size does not vary.

**To Reproduce**
[code]

Then call push_message from update function with different font_size. I've also tried with `append_child_to` without using `build` on `message_entity` and the effect is the same

**Expected behavior**
I expected to be able to change font

[2020-01-18 19:34] jpoles1 opened #146 "Contributing new widgets: Numeric Input"
# Context
I'm currently using OrbTk to build a simple GUI for a small tool I'm working on. In the process, I've been creating some simple widgets like a numeric input (text block with + and - buttons).

# Problem description & Solution
There are not very many widgets currently available. I'm wondering if the maintainers are currently interested in new widget contributions from the community, such

[2020-01-18 20:00] FloVanGH commented on #139
This is not implemented at the moment but planned. If you want you could create also an feature request issue for it.

[2020-01-18 20:02] FloVanGH commented on #140
Good point. Also a feature I want 😄. Thank you for the request.

[2020-01-18 20:03] FloVanGH commented on #141
This is a bug. It should also resize with the browser window. I should be not complicated o fix it. I let you know after it’s done.

[2020-01-18 20:09] FloVanGH commented on #142
Thank you fore your input. The current structure is created with the intention to be modular, to have multiple single crates that could be used also independent for other projects. This is the current crate structure:

* api: base api elements of OrbTk e.g. widget and application parts
* css-engine: parse and read values from a css file
* proc-macros: procedural helper macros
* render: cross platf

[2020-01-18 20:13] FloVanGH commented on #143
We’ve discussed a lot about styling in OrbTk at the moment you could set the properties by code or you could use css. I like your suggestion. I will think about it and also ask the others in the chat a out their opinion.

[2020-01-18 20:15] FloVanGH commented on #144
Unfortunately messages are broken at the moment. I was thinking about a better solution then the current message concept. But it is not ready now. Alternatively you could also use events instead of a message. I used it in my space editor application. It is linkend in the Readme.

[2020-01-18 20:16] FloVanGH commented on #145
Thank you for the report. I will check it.

[2020-01-18 20:19] FloVanGH commented on #146
Sure all sort of contributors are welcome 🙂. Yeah I think OrbTk is stable enough for this sort of contribution. If you like you could created an PR and I would be happy to review it.

See you on the chat 😉.

[2020-01-18 20:21] Zwo1in commented on #144
Thanks, I've already seen it, just messages looked more 'lightweight'.

[2020-01-18 21:06] marcianx commented on #139
1. Could this issue serve as the feature request?
2. Is there a requisite state that OrbTk needs to get into before, say, one can contribute to keyboard accessibilty? I don't have a clear model of the separation of responsibilities at the moment.

[2020-01-18 21:23] afonichev commented on #141
Thanks.

[2020-01-19 02:54] jpoles1 commented on #145
I think I'm experiencing a similar issue with buttons, the chaining of a font_size() doesn't seem to impact the size of the text.

Unsure if related, but I'm also having some problems getting size/width/height to behave as expected, these properties also seem to be ignored at times on buttons (perhaps when they're trying to shrink smaller than the font size in the button?)

[2020-01-19 15:13] DaniellMesquita opened #147 "Support CSS compatible with GTK"

[2020-01-21 20:12] FloVanGH commented on #141
Fixed.

[2020-01-21 20:12] #141 closed

[2020-01-21 20:13] DaniellMesquita commented on #105
@FloVanGH could XFCE4 be installed in RedoxOS, as it supports its own libc?

[2020-01-22 05:12] StevenDoesStuffs commented on #131
I just wanted to say that I haven't found a good syntax to do it without proc macros, and proc macro hygiene hasn't really been stabilized yet, so I'll come back to this when it has.

[2020-01-22 17:38] Zwo1in commented on #145
I just realized that when I append TextBlocks into Container, not directly to the stack, the issue is gone. It works like a charm with this modification:

[code]

[2020-01-23 11:38] duncanrhamill opened #148 "Attach function to window close"
Hi, I've run into a situation where I'd like to have my `State`'s update function called periodically rather than just when an event occurs, which I've implemented similarly to #132 with a background thread requesting a `ShellRequest::Update` every 30 Hz.

I'd like an easy way of cleaning up this thread once the user closes the window, but I'm not sure about how to do latch onto the `SystemEvent::

[2020-01-26 19:37] merehap opened #149 "Widget (selector) ID is too easy to accidentally erase"
It should be easy and intuitive to repeatedly change the styling associated with a (ID-indexed) widget, but currently if you call

`ctx.child(id).set("selector", selector);`

it will wipe out the ID of the widget/selector. If you then try to set the selector a second time, you'll get an unwrap panic on `child` because the previous set call overwrote the entire selector, ID included. You need to ma

[2020-02-03 13:21] FloVanGH commented on #148
As alternative I could add a `clean_up` method to the `State` trait. Then you could register and clean your thread in the main state. What do you think?

[2020-02-03 13:22] FloVanGH commented on #147
We thought about a GTK css to OrbTk css converter.

[2020-02-03 17:00] FloVanGH commented on #145
The problem is that properties set in OrbTk has the highest priority and overwrite the properties set in Rust.

What you could to is to set the Selector of the widget to default.

`TextBlock::create().selector(Selector::default()).font_size(15.0).build(ctx)`

[2020-02-03 22:33] DaniellMesquita commented on #147
?

It isnt just CSS?

[2020-02-04 11:54] FloVanGH commented on #147
GTK uses its own property and selector names. We need to map the GTK names to OrbTk names.

[2020-02-05 16:07] ecreeth commented on #143
This is an example using [css! macro](https://github.com/victorporof/rsx/blob/master/src/lib.rs#L49) from [rsx](https://github.com/victorporof/rsx)

![image](https://user-images.githubusercontent.com/20761166/73859067-d4325880-480f-11ea-83ca-addae0f808e9.png)

[2020-02-12 10:01] shadiakiki1986 opened #151 "How to use ToggleButton's `pressed` flag with `on_click`?"
I'm looking at [examples/widgets.rs#L200](https://github.com/redox-os/orbtk/blob/443d8b17a29dc26c0dd2bc4d7c0423d9f6a271b6/examples/widgets.rs#L200).
What I'd like to do is get the ToggleButton's status (pressed or not) and take an action accordingly.
Something along the lines of
[code]

How can the `if pressed` condition be implemented?

I tried to figure it out and can guess that it's something a

[2020-02-12 14:15] shadiakiki1986 opened #152 "example/widgets.rs: Executable size jump from 2MB to 17MB"
I noticed that the executable size for `cargo build --example widgets --release` jumps

- from ~2MB for 0.3.1-alpha1 with rustc 1.37
- to ~17MB for 5cb3649 (latest commit 20 days ago) with rustc 1.41

Not sure if this means anything, but I thought I'd bring it up anyway just in case it's important.

[2020-02-12 15:12] brmmm3 commented on #152
I've noticed the same. But it's not a matter of the Rust version and the increase seemed to happen much earlier.

[2020-02-12 16:48] VestniK commented on #152
`.rodata` section of the release executable jumps from 500Kb to 12Mb in a9653954fed7275328bc8e893c3465506154571e (this commit embeds ~12Mb font file `OpenMoji-Color.ttf` into `theme` crate)

[2020-02-14 07:35] shadiakiki1986 opened #153 "How to use a trait in the application?"
My goal is to build a GUI that accepts any object that implements a particular trait.
I wrote the gist [here](https://gist.github.com/shadiakiki1986/bd5c705b627fb82f8aba89047b050330) based on `examples/clear.rs` to illustrate. The main modifications are for having a trait member called `summary`.
It throws 2 main compiler errors:

[code]
and
[code]

If `Summary` is replaced with `&Summary` in the

[2020-02-14 07:58] FloVanGH commented on #153
I had the same issue on the Canvas widget and could solve it with a trick. I've wrapped the trait object inside of a struct.

You could check:

* https://github.com/redox-os/orbtk/blob/develop/crates/api/src/properties/widget/render_pipeline.rs
* https://github.com/redox-os/orbtk/blob/develop/crates/widgets/src/canvas.rs

[2020-02-16 20:35] stephaneworkspace opened #154 "ImageWidget without write a file"
# Context

I search to pass image without writing file with image like this:
[code]

OUTPUT need to be a file on my hard drive

but it's demand a write

# Problem description & Solution

Solution: Use Image::
[code]
but I don't find in the doc how to pass Image in ImageWidget

Thank you for your work !

[2020-02-19 07:37] #153 closed

[2020-02-19 21:15] ecreeth opened #155 "Future support for Hot-Reloading"
# Context

I believe that this characteristic must be tied to each GUI, since the experience when working with this technology is incredible

# Solution

very fast prototype design

[2020-02-21 10:15] rdearman opened #156 "Struct orbtk::TextBlock doesn't appear to have "Word Wrapping""
# Context

At the moment the Struct orbtk::TextBlock seems like it should really be called a Label, since it only seems to support one line of text.

# Problem description & Solution

I don't have a solution. But my problem is that I wanted to render some text which I would use as a sort of Message Center for the user. I'm trying to do a simple game, and I would like to use something like TextBloc

[2020-02-21 16:48] IslandUsurper opened #157 "Is `WindowAdapter::quite_event()` a typo?"
Surely it should be called `quit_event()`, shouldn't it?

[2020-02-21 18:22] FloVanGH commented on #157
fixed thanks.

[2020-02-21 18:22] #157 closed

[2020-02-21 18:23] FloVanGH commented on #156
Word wrapping and trimming is not yet implemented in OrbTk. After it is the `TextBox` will provide it.

[2020-02-21 18:25] FloVanGH commented on #155
That's a really good point and one I want to archive with OrbTk. The best experience now for fast development is to run your OrbTk application with `cargo-node`. After each change your application will auto reload in the browser.

[2020-02-21 18:25] FloVanGH commented on #154
That is not yet possible. I will work on it soon. Thank you.

[2020-02-21 18:27] FloVanGH commented on #152
Thank you for your research. OpenMoji is not yet used in OrbTk, I will remove it.

[2020-02-21 18:39] FloVanGH commented on #151
The ToggleButton has a `on_changed` callback. It is triggered after `is_pressed` is changed.

You could check the value of the ToggleButton in the states update method:

example:

[code]

[2020-02-21 18:42] FloVanGH commented on #149
Thank you for your input. What would be nice is a way to extend / edit the current selector. I will think about a solution.

Good point.

[2020-02-21 18:44] FloVanGH commented on #146
Any update?

[2020-02-21 18:45] FloVanGH commented on #145
@Zwo1in can it closed?

[2020-02-21 18:46] #142 closed

[2020-02-21 18:49] FloVanGH commented on #139
Sure you could also add more details if you want. That would help.

This could be done now. If you want to implement it I introduce you.

[2020-02-21 18:49] #137 closed

[2020-02-21 18:50] FloVanGH commented on #128
Any updates?

[2020-02-21 18:50] #125 closed

[2020-02-21 18:51] FloVanGH commented on #121
@mmstick do you want to do it, otherwise I can do it next.

[2020-02-21 18:53] FloVanGH commented on #111
Should be fixed.

[2020-02-21 18:53] #111 closed

[2020-02-21 18:55] FloVanGH commented on #105
@DaniellMesquita you should ask this in the Redox chat https://redox-os.org/community/.

[2020-02-21 18:55] FloVanGH commented on #105
@hanckmann could it closed=

[2020-02-21 18:55] FloVanGH commented on #103
Should be fixed.

[2020-02-21 18:55] #103 closed

[2020-02-21 19:33] FloVanGH commented on #154
done! documentation included.

[2020-02-21 19:33] #154 closed

[2020-02-21 19:35] FloVanGH commented on #152
Remove openmoij font.

[2020-02-21 19:35] #152 closed

[2020-02-21 20:19] FloVanGH commented on #148
done!

[2020-02-21 20:19] #148 closed

[2020-02-21 20:41] Zwo1in commented on #145
It's up to you :) I managed the way around as I said in my last comment.

[2020-02-21 21:07] #145 closed

[2020-02-21 21:11] mmstick commented on #121
I'm currently busy with Pop Shell at the moment.

[2020-02-23 03:28] marcianx commented on #139
The [ARIA web accessibility spec](https://www.w3.org/TR/wai-aria-practices-1.1/) would be a good reference for the keyboard and focus behavior for specific widgets. Though it's focused on the web, most of these specs are based on native browser and desktop widget behaviors.

I would imagine a major first step would be to figure out:
1. Where global focus would be stored and what programmatic means

[2020-02-23 17:45] sfanxiang opened #158 "Unnecessary wakeup"
**Describe the bug**
orbtk calls `update` on minifb in a tight loop:
https://github.com/redox-os/orbtk/blob/54301bcc796c9ba1812f78528c91b93a24b9877c/crates/shell/src/minifb/mod.rs#L361-L382

However, `minifb::Window::update` unconditionally wakes up after the amount of time for update rate elapses, instead of waiting for actual events to happen.

So even if orbtk stays in low CPU usage, it still c

[2020-02-25 06:16] FloVanGH commented on #158
Thank you very much. Some architectural changes are needed in OrbTk to archive that. The wake up need to be called from window events and custom events that could come from a background thread. The next big topic would be better mechanisms to support async functions and custom threads https://gitlab.redox-os.org/redox-os/orbtk-mirror/issues/215. I will use this topic also to implement `poll` in Or

[2020-02-25 06:17] FloVanGH commented on #136
Related to #158

[2020-02-25 22:24] FloVanGH commented on #149
Related MR #159

[2020-02-27 01:06] Fenex opened #160 "Help wanted with checkbox widget"
Hi. I play with orbtk and stuck for 3 days.

I wrote a simple application. Snippet on [gist](https://gist.github.com/Fenex/897403add68729b44dedfb5a2c03147a), screenshot:

![изображение](https://user-images.githubusercontent.com/3790195/75402406-442b8e80-5937-11ea-9680-08976bcb8268.png)

Expected behavior:
1) checkboxes №1 and №2 always must be sync: if №1 is clicked, the application sets the same

[2020-02-27 04:57] FloVanGH commented on #136
I optimized the update rate of minifb, that should reduce the idle CPU load of OrbTk. At next I will implement polling.

[2020-02-27 04:57] #136 closed

[2020-02-27 04:58] FloVanGH commented on #149
I've updated the api of the selector:

[code]

[2020-02-27 06:02] FloVanGH commented on #160
Should be fixed now, it was an bug in the selection behavior of the CheckBox.

I've also updated the selector api:

You should change:

[code]

to

[code]

And column 43 should also be:
[code]

[2020-02-27 13:24] shadiakiki1986 opened #162 "TextBox doesn't allow upper-case nor shift+digit (eg !, @, #, ...)"
**Describe the bug**
Entering upper-case characters or shift+digit (eg !, @, #, ...) doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo run --example widgets`
2. Type "ABCdef!@#" in the text box
3. See "abcdef123" show up instead

**Expected behavior**
Should see "ABC!@#"

**Desktop (please complete the following information):**
 - OS: ubuntu 18.04

**Additional info:**
From

[2020-02-27 14:07] Fenex commented on #160
Thanks for your answer!

I pulled your changes and now it is look like an unsync between internal & visual states is gone.

[2020-02-27 14:07] #160 closed

[2020-02-28 14:33] litttley opened #163 "TextBlock text() set Chinese characters not displayed"
TextBlock::create()
                                .text("测试test")

                                .font_size(48.0)

                                /*.font("font_text")*/
                              /*  .selector("color_text")*/
                            .height(20.0)
                                .margin((100.0, 4.0, 10.0, 4.0))//边距左上右下
                               /* .horizontal_align

[2020-03-03 22:02] SolidTux commented on #101
What is the current plan for this? I tried to run the examples with `cargo-node` and while the build process and the installation worked fine, input didn't work. The widgets didn't respond to anything.

[2020-03-04 06:01] FloVanGH commented on #101
@SolidTux OrbTk does not support touch input at the moment. But I will soon work on it. Hopefully we have someone that could work on a native Android support this month.

[2020-03-04 10:17] SolidTux commented on #101
Ah, I though the touch stuff is only for multi touch and gestures and that normal clicking is just mouse input. Thanks for clarifying!

[2020-03-04 15:12] FloVanGH commented on #101
@SolidTux OrbTk provides now an initial touch support on web, text input does not work at the moment.

[2020-03-06 04:45] #151 closed

[2020-03-06 04:45] #149 closed

[2020-03-06 05:52] #130 closed

[2020-03-06 19:54] FloVanGH opened #165 "ProgressBar"
# Context

The `ProgessBar` should be used to indicates a progress, e.g. the progress by loading a file, or a screen.

# Problem description & Solution

The `ProgressBar` should be indicates the progress between a `min`-value and a `max`-value. The current progress should be set by a `val` property.

# Examples and MockUps

[code]
<img width="365" alt="image" src="https://user-images.githubusercon

[2020-03-09 06:20] maxuanji opened #166 "Window::create() Cannot find declaration to go to"
use orbtk::prelude::*;
fn main() {
    Application::new()
        .window(|ctx| {
            Window::create()    //How to find this declaration
                .title("OrbTk - minimal example")
                .position((100.0, 100.0))
                .size(420.0, 730.0)
                .child(TextBlock::create().text("OrbTk").build(ctx))
                .build(ctx)

        })
        .run();
}

[2020-03-09 11:31] usagi commented on #163
The problem is not only Chinese. I tried several languages:

![image](https://user-images.githubusercontent.com/115972/76209053-4dc0ca80-6244-11ea-8625-74208ae81542.png)

[code]
- GOOD: English, Greek, Russian, French
- NO GOOD: Japanese, Chinese(Traditional, Simplified), Korean, Thai

[2020-03-09 12:14] FloVanGH commented on #163
At the moment we uses the Roboto Font, but it does not provide for languages like Chinese. I  will try the Noto font, that supports many languages.

[2020-03-09 12:15] FloVanGH commented on #166
The create method of the widgets like window is generated by the `widget!` macro.  Check https://github.com/redox-os/orbtk/blob/abd8f786010584ba21d9f410d381685b14794dad/crates/api/src/macros.rs#L325

[2020-03-09 12:23] nabezokodaikon opened #167 "How can I specify the position of the widget?"
Even if you specify the position function, the position of the widget does not change.
[code]

[2020-03-09 13:01] maxuanji commented on #166
Thank you！

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Florian Blasius"<notifications@github.com&gt;;
发送时间: 2020年3月9日(星期一) 晚上8:15
收件人: "redox-os/orbtk"<orbtk@noreply.github.com&gt;;
抄送: "oldma"<1372955781@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [redox-os/orbtk] Window::create() Cannot find declaration to go to (#166)

The create method of the widgets like window

[2020-03-09 18:07] valkum opened #168 "StackLayout uses last child as fixed width/height instead of using the maximum"
**Describe the bug**
See valkum/orbtk-chat#1

**To Reproduce**
Steps to reproduce the behavior:
1. Add different sized childs to stack
2. The stack has the height/width of the last child in the not growing dimension.

**Expected behavior**
Maybe the biggest child height/width should be used

https://github.com/redox-os/orbtk/blob/abd8f786010584ba21d9f410d381685b14794dad/crates/api/src/layout/stack

[2020-03-10 21:17] janibonnevier opened #170 "Grid row auto height does not work as expected"
**Describe the bug**
Grid rows with auto height are not sized correctly to contain their children. The children end up overlapping with those of other rows. Unsure whether this issue applies to column width as well.

Thank you for your work on this toolkit. On paper it's exactly what I want. :)

**To Reproduce**
Compile and run the following code.

[code]

**Expected behavior**
The rows should aut

[2020-03-11 00:37] valkum commented on #140
See #169

[2020-03-11 05:54] FloVanGH commented on #167
The `position` will be calculated internal. There are two ways to overwrite / set the position. First you could set the position if you child is in a absolute layout e.g. the overlay has a absolute layout or you could overwrite the position in the `upate_post_layout` method of the `State`. Alternative you could set margin top and right to position you widget that would work e.g. in a parent Grid.

[2020-03-11 05:57] FloVanGH commented on #168
Thank you. That correct the expected behavior is that the biggest height/width should be used. You could create a PR if you want to fix it otherwise I also could do it.

[2020-03-11 06:03] FloVanGH commented on #170
Until it is fixed as workaround you could set fixed height instead of auto. If the height or width is fixed and know I would suggest to use fixed values instead of auto also in general, because it reduces the calculation in the layout.

But we have to the `auto` calculation, thank you for the report and the example 🙂.

[2020-03-11 06:08] FloVanGH commented on #140
MR is merged.

[2020-03-11 06:08] #140 closed

[2020-03-11 15:05] nabezokodaikon commented on #167
I used `update_post_layout` but the application panicked.
What is wrong?

[code]

Error message
[code]

[2020-03-11 18:28] FloVanGH commented on #167
`text` is of type `String16`

[code]

should fix it.

[2020-03-11 18:29] #168 closed

[2020-03-12 04:22] nabezokodaikon commented on #167
What happens with position?
Panic when executed.
[code]

[2020-03-12 04:30] nabezokodaikon commented on #167
What is the absolute layout method?
This setting did not change.
[code]

[2020-03-12 06:11] FloVanGH commented on #167
Overlay is only intend to place / draw widgets over the main tree. The layout of the overlay is an absolute layout:

[code]

With position you should be careful because it could be manipulated internal and it is use in combination of x/y of the bounds property.

For your purpose this should be work:

[code]

But is to absolute position your button really what you need? I would recommend to use it

[2020-03-12 13:55] nabezokodaikon commented on #167
So that's it. Revise the way of thinking.

[2020-03-12 13:55] #167 closed

[2020-03-13 14:15] nabezokodaikon opened #172 "Can I catch the event when the window size changes?"
Window related modules are private and inaccessible.
[code]

[2020-03-13 23:15] Kaiden42 commented on #162
I noticed the same bug using the german Neo2 as a keyboard layout. It's not possible to type the characters of tier 2 to 6, which need a combination of Shift, Mod3 (Capslock), and Mod4 (Alt Gr) to be typed.

**Desktop:**
Linux Mint 19.3 Cinnamon Edition

**Keyboard layout:**
https://neo-layout.org/

[2020-03-22 06:19] brmmm3 opened #174 "Add support for linear-gradient in ron"
Please add support for "linear-gradient" in css files.

[2020-03-24 05:08] FloVanGH commented on #162
!, @, # should work now.

[2020-03-24 05:10] #166 closed

[2020-03-24 05:11] #156 closed

[2020-03-24 05:15] FloVanGH commented on #172
Not at the moment. What you can do is check in your state if the size of the window is changed.

[code]

[2020-03-26 12:20] clouds56 commented on #106
I'm beginner and wonder when the `update` would be called? Why `self.action = Some(action)` would work if 2 actions comes simultaneously?

[2020-03-26 19:27] phillvancejr commented on #117
Just wanted to second this request! If Orbtk gets this functionality I will be using it instead of Flutter or Csharp Avalonia

[2020-03-26 20:04] FloVanGH commented on #106
@clouds56 in one run the update method of a state is called one time. If the state should handle multiple actions depends on the use case. If the state should handle only handle one action at time a single action is enough, otherwise e.g. a `VecDeq<Action>` could be used.

[2020-03-27 02:56] levirs565 opened #176 "How to create List"
I want to create a List and I find List Widget. However, I can't find example or documentation to create List. I also need to update list. Please help me!

[2020-03-27 04:50] FloVanGH commented on #176
You could check the widgets example.

[2020-03-27 07:15] clouds56 commented on #106
So if I understand correctly, when a any events (like click, keyboard) arrives, the corresponding widget would notified by handler like `on_click`, after all widgets responses, it would call `update` on **all** widgets (but not only the widgets affected by the event). And this is "one run" per event, right?
Therefore in the calculator example, 2 clicks must trigger 2 runs, so that there's no actio

[2020-03-27 14:08] dobefore opened #178 "cssparser-macros compile failed when running the examples"
**Describe the bug**
OS:Win10 ,rust version:1.44 nightly,
it seems `cssparser-macros` and `wgpu-native` cannot compile,any help would be appreciated!

**To Reproduce**
Steps to reproduce the behavior:
1. when I run the command,`cargo run --example stack --release`
2. the error appears,yet,it runs successfully when I copy the Minimal Example code.
[code]
and  second error
[code]

more details ,

[c

[2020-03-27 21:21] kotauskas opened #179 "Interface appears laggy"
All examples show that the toolkit is using a fixed timestep, rendering at approximately at 10-15 FPS.

**To reproduce**
Run any example.

**Expected behavior**
The toolkit should pick up the refresh rate of my monitor by using vertical sync.

**Configuration:**
 - OS: Windows 10 Pro
 - Native (no browser)
 - OrbTK v0.3.1-alpha2

[2020-03-30 15:51] nabezokodaikon commented on #172
So that's it. understood. Thank you.

[2020-03-30 15:51] #172 closed

[2020-03-31 06:11] FloVanGH commented on #179
That low fps is a temporary workaround to reduce the idle cpu load. But I will fix this issue soon. Thank you for the report.

[2020-03-31 06:26] FloVanGH commented on #106
@clouds56 yes you understand right. The source code you are looking for is in the EventStateSystem https://github.com/redox-os/orbtk/blob/develop/crates/api/src/systems/event_state_system.rs.

[2020-03-31 09:18] phillvancejr commented on #117
Hello, my fork of emoon's original minifb added always on top (topmost) functionality for MacOS and was merged to master.  With this change and my own clone of this project, on MacOS Orbtk windows can now be always on top using the Window::topmost method when creating the window.  After making changes to emoon's minifb I realized that Orbtk uses your own fork of minifb.  Should I fork your version

[2020-03-31 10:56] FloVanGH commented on #117
@phillvancejr thank you that's great  🙂. The master of emoon's repo is merged and I've added a `always_on_top` property to OrbTks `Window`.

[2020-03-31 11:23] phillvancejr commented on #117
@FloVanGH thank you! always_on_top works great now!

[2020-04-11 17:17] Furious7c8 commented on #179
Hi. How is it going with this issue? For now, text input responsiveness is really bad. Does it connect to this issue?
What is the timeframe for the fix? Also, will it support refreshes above 60 Hz?

[2020-04-12 11:17] FloVanGH commented on #179
Do you build it in debug or release. What platform do you use? I haven’t this issue with the TextBox.

I want to check to ways to speed up OrbTk. Unfortunately I have not much time at the moment. But I want to start with it in the next weeks.

[2020-04-12 11:32] kotauskas commented on #179
@Furious7c8 Surely it does. Using textboxes is nearly impossible because keypresses start getting ignored if you type too fast.

@FloVanGH A good temporary workaround for this would be a window builder option to lock to a specific framerate (stored as `Option<u32>`, with `None` meaning that no locking is done and the native framerate is used). Setting `None` as the default would be reasonable, so

[2020-04-12 11:37] Furious7c8 commented on #179
@FloVanGH It is release, Linux - Arch, i3wm with no compositor.
As @kotauskas correctly idenfied keypresses are ignored. I can attach a video, but I doubt it is needed.

Isn't is possible and optimal to trigger "update/render" on change of ui?

[2020-04-12 11:44] kotauskas commented on #179
It might be related to the renderer they're using, which apparently renders every frame without vsync on the CPU.

That's a whole new story with tracking UI changes which IMO should be the primary focus right now: for OrbTK, as a proof-of-concept UI toolkit made (primarily) for a proof-of-concept OS, performance of a zero-cost abstraction is a must.

[2020-04-13 09:37] Gaarco opened #182 "Minimal Window panics while resizing"
When I launch a sample resizeable window it panics every time while resizing:
render 33ms - timer ended
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: UpdateFailed("Update failed because input buffer is too small. Required size for 450 x 731 window (1x scale) is 1315800 bytes but the size of the input buffer has the size 1229320 bytes")', /home/marco/.cargo/registry/src/gi

[2020-04-13 17:40] UA-Niel opened #183 "Update value of Textbox"
This code

[code]

returns the following error:
[code]

In the Calculator example they use `.id()` but this doesn't seem to work.
How to fix this? I just want to update the value of a textbox when a button is clicked.

[2020-04-13 18:28] MCOfficer commented on #154
Can we get more of these convenience functions for other common types, e.g. `[u8]` or [`ImageBuffer`](https://docs.rs/image/0.23.3/image/struct.ImageBuffer.html)]? I imagine the common usecase is to bundle images via `include_bytes!`, which returns a `[u8; ?]` - and converting that to a proper `Vec<u32>` sucks.

For reference, my approach:
[code]

it's especially bugging me that support for this [

[2020-04-13 19:20] Tazoeur opened #184 "vanilla orbtk template panics"
Hello,

First of all I'd like to thank you for the work you are doing, it looked soo nice and clean I wanted to try/use it.

So I've followed the orbtk-template procedure
[code]

and I got this error  :
[code]

Here is the orbtk version in my cargo.lock file
[code]

I've just updated rust nightly
[code]
I do have `libsdl2-dev` installed.

I run a Ubuntu 19.10 (5.3.0-46-generic)  x86_64 with gnome

[2020-04-14 04:32] FloVanGH commented on #182
Unfortunately there is a resizing bug with 0.3.1alpha1. The next release will fix it. In the meantime you could reference the develop branch `orbtk = { git = "https://github.com/redox-os/orbtk.git", branch = "develop" }

[2020-04-14 04:39] FloVanGH commented on #183
Widgets in OrbTk are only builders. The `build` methods creates an Entity (id) for a widget. If you want to read more about it you could check the Readme, it contains some base concepts of OrbTk now. To fix your code, you have to create a MainState and attach it to your MainView. Then you could access the screen TextBox inside of the MainState. Could sources for this are the `widgets` and the `cal

[2020-04-14 04:49] FloVanGH commented on #179
@Furious7c8

Update and render are only emitted by changes (on events). But it could be improved on atomic level.

At the moment we uses many raqote for rendering, it has a very good platform support but there are faster renderers. At the moment I experiment with others.

@kotauskas

OrbTk is more than a proof-of-concept UI toolkit but it is still work in progress. And it is primarily a **cross pl

[2020-04-14 04:56] FloVanGH commented on #184
I could not reproduce it on `macos` but I will check it on my Ubuntu machine today. `ibsdl2-dev` should not be necessary.

[2020-04-14 08:36] MCOfficer commented on #183
Also note that `.id` wasn't a thing in 0.3.1-alpha1, which is probably the version your IDE suggested. It used to be `.selector`, now (on develop) there are `.class` and `.id`.

(I found that out the hard way..)

[2020-04-14 09:56] MCOfficer commented on #145
Neither the proposed solution (idk why) nor the workaround (`Selector` is gone) worked for me. However, you can get a bit cheesy with custom CSS:

[code]
[code]

[2020-04-14 13:44] UA-Niel commented on #183
I don't understand anything of it... and the examples aren't helping...

This is my full code:
[code]

It's a calculator... The logic to calculate everything is already there. The function `Logic::calculate(String)` can take any infix string and return the result.

I have a string `pressed_key` which gets updated everytime a button is clicked, this string wil get passed to the `Logic::calculate(St

[2020-04-14 15:01] FloVanGH commented on #183
Sorry I don't have much time today. I could check your example tomorrow.

Some important lines how could help you:

Call the method of a state from a event handler e.g. click handler:

https://github.com/redox-os/orbtk/blob/df45cc7d1b66a1a6cea588febaddc16c8697355e/examples/calculator.rs#L174

Give TextBox an id:

https://github.com/redox-os/orbtk/blob/df45cc7d1b66a1a6cea588febaddc16c8697355e/examp

[2020-04-14 18:36] UA-Niel commented on #183
I made an easier example:
[code]

it contains only one button and a textbox. Doesn't work though. If you could help me with this example I think I'd be able to expand it to the calculator.

Thanks mate! OrbTk looks pretty cool.

[2020-04-14 19:21] MCOfficer commented on #183
Your line 3 should be
[code]

Then you get a downcast error at L32, because get_must can't return a String, apparently. Not sure if it's kosher, but you can solve it by using orb's internal String type, `String16`:

[code]

[2020-04-14 21:01] UA-Niel commented on #183
Alright thanks! That works. I'll try to implement this in my more advanced code, if it works, I'll let you guys know!

[2020-04-14 21:39] UA-Niel commented on #183
With the following code
[code]

The issue occurs that when I click the button two times, the textbox just gets spammed/filled with tons of '111111111111' instead of just '11'.

[2020-04-15 04:41] FloVanGH commented on #183
You have to set the action to `None` after the action is done.

[code]

[2020-04-15 13:07] lukors opened #186 "`failed to load source` Error when building"
**Describe the bug**
Getting a `failed to load source` error when trying to build the project.

**To Reproduce**
On command line.

1. git clone https://github.com/redox-os/orbtk.git
2. cd orbtk
3. cargo build

Error appears.

**Expected behavior**
It should build without error.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: I need a browser?
 - Version: Win

[2020-04-15 15:01] UA-Niel commented on #183
That works. And how do I retrieve the value from a textbox as String?

[code]

Returns the following runtime error:
[code]

[2020-04-16 00:24] danielstuart14 commented on #186
Same issue on macOs Catalina

[2020-04-16 04:29] FloVanGH commented on #186
@lukors and @danielstuart14 you should check out the `develop` branch. It should work.

[2020-04-16 04:33] FloVanGH commented on #183
@UA-Niel `text` is of type `String16`. If you want to convert it to a `String` you could use the `as_string` method of `String16`:

[code]

[2020-04-16 17:15] ZoomRmc commented on #179
Just compiled an example with latest OrbTk from "develop" branch on Windows. The lag is noticeable (aka "bad"). This is a 33fps gif for a `--release` build:

<img src="https://i.imgur.com/Nj14Oyv.gif"/>

Hope it will get better, since the library looks very promising.

[2020-04-16 19:14] lukors commented on #186
@FloVanGH thank you for the response!

This is on the `develop` branch. Here is the entirety of my command line:

[code]

[2020-04-16 22:30] UA-Niel commented on #183
All fixed! Thanks mate. awesome.

[2020-04-16 22:30] #183 closed

[2020-04-17 00:33] UA-Niel commented on #183
Result:
https://users.rust-lang.org/t/orbtk-gui-calculator-with-parser/41100

[2020-04-17 04:34] FloVanGH commented on #183
@UA-Niel nice 🙂. Thank you for sharing.

[2020-04-17 14:19] lukors opened #187 "Text input drops characters"
**Describe the bug**
When writing in a text field, some button presses are ignored when you write too fast.

**To Reproduce**
1. Run Widget Template
2. Click in a text box
3. Mash keyboard (preferably keyboard has n-key rollover)
4. See that not all pressed keys are included.

**Expected behavior**
All button presses should register.

**Desktop:**
 - OS: Windows 10

[2020-04-18 21:09] lukors opened #188 "Is it possible to make a node editing GUI?"
Is it currently possible to make a node editing gui in OrbTK? Something similar to what's seen in Blender: https://duckduckgo.com/?t=ffab&q=blender+node&iax=images&ia=images

I realize some features that would be nice like drag and drop aren't in yet. But I can probably work around things like that if I just know it's possible to render an arbitrary number of widgets somehow.

**Current situation*

[2020-04-20 16:49] kivimango commented on #188
Not sure what it does exactly, but there is a macro called into_property_source!() in crates\api\src\macros.rs,
You can try wrapping the properties of your widgets in the macro.
Also, you can modify your widget's children at runtime, but there is no documentation for that yet.
Look into the last comments on https://github.com/redox-os/orbtk/issues/183.

[2020-04-20 16:58] kivimango commented on #165
I looked into this and came up with a basic draft, but I stuck since days.
First, I wanted a Container as a child, and modify its width based on _val_, but its an ugly hack, so I started exploring how to draw directly on the canvas based on the canvas example.
My problem is that the RenderPipeline's draw() method gets called only twice at the start of the app, and the value of a Cell<f64> never ge

[2020-04-21 11:59] FloVanGH commented on #165
@kivimango the solution with `width` would be fine for me. If you want explicit trigger redraw you could check: https://github.com/redox-os/orbtk/issues/132#issuecomment-571922281

[2020-04-21 12:00] FloVanGH commented on #187
Thank you for the report. At next I will work on some performance improvements. On this I will check also this bug.

[2020-04-21 12:13] FloVanGH commented on #188
@lukors I think it would possible to develop a node editing GUI with OrbTk. Drag and drop is not yet implemented but it would be possible to implement a custom drag and drop for the nodes. You could check the `ListView` widget. It creates a dynamic number of widgets and uses a builder `Fn` to define the generat children. It should be possible to do it similar for the nodes.

[2020-04-21 12:20] FloVanGH commented on #186
Done. Thank you :-)

[2020-04-21 12:20] #186 closed

[2020-04-21 14:02] kivimango commented on #187
This is probably related to #179

[2020-04-23 18:27] lukors commented on #188
After many hours of tiny experiments I'm slowly starting to understand how this works, I think. There are still a ton of things left to do, but I feel like I have some basic understanding now.

Look what I have:

![2020-04-23_20-21-55](https://user-images.githubusercontent.com/1719884/80135278-4e1ce700-85a0-11ea-8023-7c8f071c9a2f.gif)

Thanks to both of you for your critical help!

[2020-04-23 18:27] #188 closed

[2020-04-23 18:28] lukors commented on #187
Could be. But usually programs are able to capture all input even if they have really low frame rate.

[2020-04-25 20:39] lukors opened #189 "Circle + `border_brush` + `border_width` = rendering bug"
**Describe the bug**
A `Container` that is rendered as a circle due to a high `border_radius` receives an extra line drawn over it if the `border_brush` and `border_width` properties are set.

**To Reproduce**
Here is some code to reproduce, it's the same code used when creating the screenshot:

[code]

From what I can find, the properties that are required to reproduce the bug are `border_brush`

[2020-04-26 22:41] lukors opened #190 "Change when `on_mouse_up` closure is called"
# Context
The feature will be used when a developer wants to call a function on a widget when a mouse button is released while hovering it.

# Problem description
I'm using the `on_mouse_down` closure in `MouseHandler` to know when the user has pressed the mouse on a widget, I use that to tell a handler widget that "this is now being dragged-and-dropped". Then the user drags the mouse and lets go

[2020-04-27 11:39] lukors opened #191 "Unexpected behavior with `ctx.remove_child()`"
**Describe the bug**
Using `ctx.remove_child()` causes crashes in some cases, and has no effect in others.

**To Reproduce**
Run this code to reproduce the crash:

[code]

Run this code to reproduce widget not being removed in 'update()', when `remove_child()` is called in `update_post_layout()`, but still being gone in `update_post_layout()`:

[code]

**Expected behavior**
Removing a widget shoul

[2020-04-27 17:39] lukors opened #192 "How to best handle inputs?"
I would like to check if the way I'm handling my inputs makes sense or if there is a better way.

In this example I want to call a function in `MyContainerView` when its child `MyWidgetView` is clicked. I want to send the `MyWidgetView`'s `Entity` as a parameter to the function.

# This is how I do it
This is pseudo-code. First, these are the `struct`s:

[code]

1. When `MyWidgetView` is created I

[2020-04-27 23:14] kivimango commented on #192
can you try please moving your logic into the impl State's _update_post_layout()_ function from _update()_?
According to docs:

[2020-04-28 10:23] tathanhdinh opened #193 "Properly close application"
Hello,
Sorry for this basic question, I want to create a button which is when clicked, close the application. Currently I've used `std::process:exit`

[code]

whereas the `MainViewState`:

[code]
This is not a proper method, I imagine that I must send `SystemEvent::Quit` but still don't know how to do it.

Thanks in advance.

[2020-04-28 10:47] lukors commented on #192
I made a minimal example and tried doing that, but it doesn't seem to make any difference in this case.

The problem for me is that it still isn't done before the `update()` method somehow. Look at this minimal example that you can test:

[code]

The output for me is the following:
[code]
This shows clearly that the Container's `update()` function knows that it has been clicked before the Widget's

[2020-04-28 11:00] lukors commented on #193
I think this is the proper way:
[code]

[2020-04-28 12:20] tathanhdinh commented on #193
Thank you very much. It works.

[2020-04-28 12:20] #193 closed

[2020-04-30 09:54] lukors commented on #192
I've looked into this some more, doing experiments with trying to send the id of the target widget the click should affect straight to the child's `MouseBehavior`, and trying out shared properties. From my understanding there is always at least a one frame delay if you want to "send clicks" up the tree.

I realized that `MouseBehavior` is also just a widget. One which is convenient to use when you

[2020-04-30 09:56] kivimango commented on #165
![pgbar_preview1](https://user-images.githubusercontent.com/18540032/80696000-0e418c80-8ad7-11ea-8aca-7e314d271708.jpg)
Here is my work so far, some stuff still needs to be addressed:
I omitted the min and max properties, the caller should do the calculations, the progress bar expects the calculated percent between 0.0 and 1.0 whereas 1.0 = 100%.

- [ ] Setting the background color to black is not

[2020-04-30 10:14] lukors commented on #165
Can you post the code?

Regarding paddings and locations: I've used `margin` to set the location of my widgets, don't know if it's the right way, but using the `position` (or whatever it's called) seems to always be overridden by the layout.

[2020-04-30 10:16] kivimango commented on #165
yes, I'm committing the changes now, but I don't have time to create a PR.
I will do it when i got home from work tonight.
I tried padding and margin, none of them seems to work (rectangle render object doesnt render a padding as i red the code)

[2020-04-30 12:55] lukors commented on #192
I've implemented what seems like the fastest way to get inputs as an example.

The idea is to grab the click events in the same way as the `MouseBehavior` does, but instead of then sending an event to the parent (like `MouseBehavior` does)—which results in that event being seen by the parent in the next update loop—it sends the click event (including the location of the click) down to its children

[2020-05-01 11:27] kivimango commented on #165
I created a new PR https://github.com/redox-os/orbtk/pull/195, you can view the code.

[2020-05-01 11:31] FloVanGH commented on #165
@kivimango at first thank you for your support 🙂.

There is a global background set on the main theme css file, it overrides all background definitions set on the widgets directly. There we need a better solution. But for now you can define background, border-brush, ... in the `dark.css` for the ProgressBar.

At default widgets are using the default layout object, but if you want to define a paddi

[2020-05-01 11:46] FloVanGH commented on #192
@lukors nice work.

Sorry for the delayed response.

I think at the moment your solution is the proper way. But I'm not entirely happy with the process of events and states calls. That is one point I want definitely to refactor. For the next I will also implement some mechanics that make it easier to start async tasks from a state and receives their results. I think this will be a good point to re

[2020-05-01 12:07] lukors commented on #192
Thanks a lot for the response!

Good to know I'm doing it the proper way, and thank you for the information, I like the future plans and their priority.

---
I was hoping that implementing this fastest way to get inputs I would see a measurable improvement in input lag in my application. Unfortunately its seems to be about the same. But at least I receive all inputs at the same time now, so I don'

[2020-05-01 12:07] #192 closed

[2020-05-01 12:39] FloVanGH commented on #191
Thank you for your detailed report. It helps me a lot to find and fix the bug.

There was an internal error by multiple borrowing the window shell. And after `post_layout_update` the entities were not removed.

`clear_all_children` uses now internal `remove_child`, because both should be work the same.

[2020-05-01 12:39] #191 closed

[2020-05-01 12:42] #176 closed

[2020-05-01 13:21] kivimango commented on #165
Thank you for your answer :)
I was able to set the background to black in the dark.css.I was able to work around the padding issue with setting the margin on the child, and a little hack without using the padding layout in the current state. However, I tried your suggestion, using the layout and padding, but it still doesn't work for me, maybe someone else will be luckier (the bar does not respect

[2020-05-01 13:33] FloVanGH commented on #165
@kivimango I’ve tested your implementation and added the PaddingLayout to the ProgressBar widget. You have also to add a padding property of type Thickness to the ProgressBar.

[2020-05-01 20:07] FloVanGH commented on #165
@kivimango

[code]

[2020-05-01 20:21] FloVanGH commented on #190
@lukors I would suggest to only have one `mouse_up` callback and to remove only the restriction that the element must be pressed before.

[2020-05-01 20:24] FloVanGH commented on #190
Done.

[2020-05-01 20:24] #190 closed

[2020-05-02 08:46] kivimango commented on #165
Done.

[2020-05-02 08:52] kivimango commented on #178
Are you using MinGW? I had the same problem,
Reinstalling MinGW, Rust, VSCode, and the MSVC tools solved the problem for me.

[2020-05-02 13:46] lukors opened #196 "Help getting keyboard input"
I'm trying to get keyboard input, but I can't figure it out.

I'm looking at the [`text_box` widget](https://github.com/redox-os/orbtk/blob/develop/crates/widgets/src/text_box.rs) as reference.

I expect the following code to print `key_down` when I press a button, but it doesn't print anything, what am I missing?

[code]

[2020-05-02 15:32] FloVanGH commented on #196
The element need to be focused to get key events. Therefore it need a `focused` property https://github.com/redox-os/orbtk/blob/928a4c1f39de7ed158d7a0feb1ef5b16bdc40ce5/crates/widgets/src/text_box.rs#L358. And you need to request the focus https://github.com/redox-os/orbtk/blob/928a4c1f39de7ed158d7a0feb1ef5b16bdc40ce5/crates/widgets/src/text_box.rs#L86. You could request focus also on init.

I thi

[2020-05-02 17:16] lukors commented on #196
Ah yeah, that makes sense, and it works.

I think having a global key event also is a good idea.

Thank you! :)

[2020-05-02 17:16] #196 closed

[2020-05-03 03:38] dobefore commented on #178
@kivimango  many thanks to you!you're just my lifesaver! following your instructions,I installed MinGW64 (I don[t know it helps),and MSVC tools( I think it's the culprit of the cause). Then it works,I relight passion for learning rust GUI.
following link is where I install  MSVC build tools ,
http://go.microsoft.com/fwlink/?LinkId=691126

[2020-05-03 03:41] #178 closed

[2020-05-03 17:00] kivimango opened #197 "New widget: PasswordInput"
# Context
When users need to enter their password, there is no dedicated widget for this use case.
The TextBox widget displays the password, which is sensitive data.

# Problem description & Solution
Create a new widget that displays an echo character instead of the entered text.
For security reasons, the variable holding the password should be zeroed or dropped after the caller checked against th

[2020-05-03 17:28] FloVanGH commented on #197
The password input could be implemented as extension of the TextBox.

e.g.
[code]

[2020-05-04 04:16] #165 closed

[2020-05-05 08:35] slothyrulez commented on #184
Tested right now on ubuntu 20.04
[code]

Orbtk on Cargo.lock

[code]

Running on wayland

Btw, i don't know ohw this black magic works, but I can't find `version = "0.3.1-alpha3"` on crates.io or the orbtk's github repo.

[2020-05-05 20:07] Tazoeur commented on #184
yup just did that too and its working...

I guess it wasn't a good time to test it back then :'(

I'll give it a go in the near future :)

[2020-05-06 14:22] kivimango commented on #197
I think modifying the current code of TextBox is a bad idea (it adds one or more responsibility).
The new widget would be just a wrapper on top of TextBox, only it should mask the input text only, otherwise, it would just call the children TextBox.
Or extract the common functionality into a separate widget/behavior, like BaseInput. and use the extracted behavior in the two widgets.

[2020-05-06 14:39] kivimango commented on #135
Yes, its planned, I did some very early draft for TableView, but it is the far most complex widget with sorting columns adding rows, etc and I need(ed) some experience with orbtk before I start planning and coding.

[2020-05-06 15:21] kivimango commented on #146
![numeric_input_preview1](https://user-images.githubusercontent.com/18540032/81195210-d4342700-8fbd-11ea-8e5b-54cb751ab445.jpg)
It needs tweaking, but it is working.

[2020-05-06 17:32] FloVanGH commented on #197
My intention to reduce duplicated code. I was not sure if there is a good way to wrap the TextBox in a PasswordBox, because it has only a text property that is used to display the text and is changed instant by text input. Therefore my idea was to introduce a display_text property, that is only that what is displayed.
I like your idea to extract the text input behavior, that could be a good soluti

[2020-05-06 17:33] FloVanGH commented on #146
@kivimango nice 🙂

[2020-05-06 18:27] lukors opened #201 "Crash when deleting `ComboBox` in `update()` or `update_post_layout()`"
**Describe the bug**
If you delete a `ComboBox` in the `update()` or `update_post_layout()` loop, the program crashes soon after.

**To Reproduce**
Run this code:

[code]

Produces the following error message:
[code]

**Expected behavior**
It should not crash.

**Desktop**
 - OS: Windows 10

**Additional context**
Note that this does not seem to happen when deleting the `ComboBox` in `init()`.

[2020-05-06 18:41] lukors commented on #201
I tested every other widget, and none of the others crash from this. :)

[2020-05-06 19:17] FloVanGH commented on #201
Thank you I'll check it.

[2020-05-07 12:08] lukors opened #203 "Can't write some characters in `TextBox`"
**Describe the bug**
Some characters like `/\'[]{}` and more can't be written in `TextBox`es.

**To Reproduce**
Try it in the widgets example.

**Desktop**
 - OS: Windows 10

[2020-05-07 12:44] lukors opened #204 "Can't click to place caret in `TextBox`"
**Describe the bug**
If you select a `TextBox` with some text in it, all the text in the box will be selected. Clicking again on the text does not deselect the text and place the caret in the clicked location.

**To Reproduce**
Steps to reproduce the behavior:
1. Run widgets example
2. Write some text in one of the text boxes
3. Click outside the text box to deselect it
4. Click on the text to sel

[2020-05-07 13:53] lukors opened #205 "Feature request: File browser"
# Context
Many applications need to select files for saving and loading things.

# Problem description & Solution
Right now if you want to save something in a specific location you can have a text box and let the user type in a path. That's cumbersome, it would be a great improvement to be able to have a file browser widget with the following characteristics:

* In a new window that can be moved a

[2020-05-07 14:21] lukors commented on #205
Doing this depends on having a table view or something like it: https://github.com/redox-os/orbtk/issues/135

[2020-05-07 14:31] lukors opened #206 "Feature requests project public for editing?"
**Describe the bug**
I read the text on the "Projects" tab above, it says:

I get the impression we're meant to be able to make changes to it, but I can't find any way to do that. I can just read the existing feature requests.

This is just to let you know about this issue, I don't have an opinion on if having a public project for making feature requests in is a good idea or not, but the text shou

[2020-05-07 17:29] FloVanGH commented on #203
This could be done soon. It’s on my agenda. Thank you:

[2020-05-07 17:30] FloVanGH commented on #204
Unfortunately this is not implement now. But this is a good task to start next.

[2020-05-07 17:32] FloVanGH commented on #205
We could start with a ListView based file browser and extend it after the table is finished. An alternative way could be to use native file browsers.

[2020-05-07 17:36] FloVanGH commented on #206
We plan to use agil project management methods to speed up and better organize the development of OrbTk. But not everything is ready. This text is in artifact of this plan.

[2020-05-07 18:07] lukors commented on #205
I guess which path should be chosen depends on the goals of the project.

I don't have the experience to know which is more desirable.

If a custom browser is the path chosen, starting with something really simple is a good idea. Having something is a lot better than having nothing.

[2020-05-08 07:19] FloVanGH commented on #201
It is fixed now. The problem was, that the Popup of the ComboBox is not a child of the ComboBox. It is a child of Overlay. Therefore the Popup was not removed and tried to access properties of the ComboBox. The Popup will now also removed if the ComboBox is removed.

[2020-05-08 07:19] #201 closed

[2020-05-08 08:09] kivimango opened #207 "[Feature request] Add text_alignment property to Text related widgets"
# Context
There are use cases where the user wants to align the text inside the widgets to the right border.
As of now, only the TextBlock can be hacked to align its text to right setting horizontal_alignment to "_end_", but the horizontal_alignment is for aligning the whole widget inside its container.

Setting the text alignment of widgets built on top of TextBlock (like TextBox, Button) is prob

[2020-05-10 18:05] kivimango commented on #163
I tried NotoSans Regular & Medium,  greek, french and russian letters are showing up, but for the other languages characters replaced by the so called "tofu"s.

[2020-05-11 14:43] FloVanGH commented on #182
The bug is fixed in 0.3.1-alpha2

[2020-05-11 14:43] #182 closed

[2020-05-11 14:43] FloVanGH commented on #144
Messages are deprecated. A new concept will take place.

[2020-05-11 14:43] #144 closed

[2020-05-11 14:44] #117 closed

[2020-05-15 07:50] mpolosak opened #208 "ImageWidget disapears on click or resize of window"
**Describe the bug**
ImageWidget disappears on click or resize of window when run in browser or as electron app. On Electron it even sometimes don't appear on start

**To Reproduce**

1. Run Image example in browser or as electron app
2. Click on image or resize window
3. Image disappear

**Expected behavior**
Should not disappear

**Desktop (please complete the following information):**
 - OS: Ma

[2020-05-15 08:04] mpolosak commented on #162
it still happens to me

[2020-05-15 08:10] mpolosak commented on #162
and it doesn't support typing number using numpad

[2020-05-15 09:03] kivimango commented on #162
numpad and some other keys missing from the keyboard map, the PR is coming to address this.

[2020-05-15 09:09] FloVanGH commented on #162
@kivimango ', /, \, [, ], {, } will be added after my branch is merged. I think this will be done in the next days.

[2020-05-18 05:37] FloVanGH commented on #203
done.

[2020-05-18 05:37] #203 closed

[2020-05-21 08:22] FloVanGH commented on #208
Thank you for the report. I will check and fix it.

[2020-05-21 15:47] kivimango commented on #128
String16 does not implement the Iterator trait, therefore one cannot iterate over the contents.

[2020-05-22 03:54] ngortheone opened #210 "[Question] comparison with other Rust GUI Toolkits"
Hello @FloVanGH and team,

Could you briefly compare the ideological and design aspects of orbtk to other popular Rust GUI toolkits?

In particular
- https://github.com/hecrj/iced and its Elm-inspired design

Also if you can:
- https://github.com/PistonDevelopers/conrod
- Azul
- Druid

Thanks!

[2020-05-22 17:30] andreinbio commented on #204
Hello @FloVanGH ,
I was trying to implement this functionality but I encountered a block.
My approach is:
1. get text starting position
2. get mouse position
3. get all chars position and map them to their staring index
4. when clicking on text get mouse position and get from the stored list the closest char position's index and move the cursors to that index.

I am blocked at the 3rd step. Is the

[2020-05-22 17:45] FloVanGH commented on #204
Hello @andreinbio,

thank you looks great so far.

`Context` has the method `render_context_2_d` to access the current RenderContext. With the `measure` you could measure the size of a text, also of a single character. Unfortantly the only solution now is to measure it on your `map_chars_index_to_position` by your self. An other property you will need is to left margin of the `text_block` child. I

[2020-05-22 17:52] FloVanGH commented on #210
Hello @ngortheone,

I think the many difference to the other toolkits in your list, is that OrbTk is complete based on an Entity Component System. The widgets are entities (indies) and the properties (members) of a widget are components in a map. You could compare it to the Amethyst game engine. But the access to the Entity Component System is abstracted. You will access widgets and properties in

[2020-05-22 21:09] kivimango commented on #146
#211

[2020-05-23 03:29] ngortheone commented on #210
Thanks for your reply

I am infrastructure / backend engineer and I am quite far from UI, but still generally curious. I have more newbie-like question like:

- why is Entity Component System was chosen and why do you believe it better then other solutions?
- is there an layman's example like "you can do X, which you can't do with other toolkits"

Basically the meta question is - how would you sel

[2020-05-23 12:14] mitchmindtree opened #212 "Do you have plans to allow for custom input event loops / renderers?"
For example, if I'm using `winit` in an existing project, would it be possible to add in an orbtk GUI and drive it forward by translating `winit` events to some orbtk input event type?

Similarly, does orbtk have a platform-agnostic rendering abstraction? Perhaps something like a mesh and some render commands? I'm curious if it's possible to write a custom renderer, e.g. as a wgpu render pass.

I

[2020-05-23 12:51] andreinbio commented on #204
Hello @FloVanGH ,
Thank you for the hint, it helped.
This is the PR with the new functionality: https://github.com/redox-os/orbtk/pull/213

[2020-05-23 17:53] FloVanGH commented on #210
I first approach was very classic OOP. Each widget derives from a specific trait but I has to copy / paste all properties for each new widget such as bounds, constraints, background, ... . And I have to apply all changes manually to all widgets. On my search for an other solution I found the ECS and it is very popular on game dev and I gave it a try also on a GUI toolkit. And I'm totally flexible

[2020-05-23 18:02] FloVanGH commented on #212
I think if you want to inject a window backend from outside like winit it is not possible now. What you have to do now is to fork OrbTk and add a solution where you can do it. But I imagine to have such a feature in OrbTk. But by the way I'm currently working on a alternative backend for OrbTk based on `glutin`. There is a translation from `winit` events to OrbTk events. And you also could inject

[2020-05-23 18:13] FloVanGH commented on #204
@andreinbio is merged thank you.

[2020-05-23 18:13] #204 closed

[2020-05-24 13:50] kivimango commented on #146
#211 is merged, can we close it?

[2020-05-24 13:55] kivimango opened #214 "OrbTk apps crashes when left on its own"
**Describe the bug**
When I'm AFK for a minute, after coming back I see that a previously launched OrbTk app is disappeared and Visual Studio's terminal is full of stack traces.
I'm experiencing this the third time.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile and run any example of orbtk or your own app using orbtk from Visual Studio's terminal with cargo run
2. Leave it alone fo

[2020-05-24 16:09] #146 closed

[2020-05-29 02:50] dollarkillerx opened #215 "Ubuntu 18.04.4 LTS compiling error: linking with `cc` failed: exit code: 1"
I try to compile this project using the recommended procedure. However, I get an error that I don't understand how to solved.

Final result: error: linking with `cc` failed: exit code: 1

Ubuntu 18.04.4 LTS
Rust:
rustc 1.43.0 (4fb7144ed 2020-04-20)
cargo 1.43.0 (3532cf738 2020-03-17)

main.rs
[code]

[code]

[code]

[2020-05-30 05:17] charleschege commented on #215
It seems your Ubuntu installation does not have all the required software packages to build orbtk. Try installing libwayland-cursor0 in your Ubuntu installation.

Do `sudo apt install libwayland-cursor0`

[2020-05-30 19:30] PonasKovas opened #216 "Very bad performance on all platforms except for Redox OS"
**Describe the bug**
After compiling the calculator example in release mode and running it on my Linux machine with wayland, I get very bad performance, horrific input latency.

I don't know what exactly causes it, because the same calculator app on my Redox OS VM works perfectly, without any lag whatsoever.

OS: Arch Linux (up to date)
WM: Sway (Wayland)

**To Reproduce**
Steps to reproduce the b

[2020-05-30 19:37] PonasKovas opened #217 "Unreachable pattern in orbtk-shell src/event.rs"
**Describe the bug**
https://github.com/redox-os/orbtk/blob/develop/crates/shell/src/event.rs#L354
Pattern cannot be reached because the same pattern is present in [here](https://github.com/redox-os/orbtk/blob/develop/crates/shell/src/event.rs#L342)

[2020-05-31 00:39] nebkor commented on #216
For what it's worth, I have the same issue with the `widgets` demo on x11, using Mesa 20.0.4, and the Intel integrated graphics on a Thinkpad running Ubuntu 20.04.

[2020-05-31 12:18] kivimango commented on #216
Duplicate of #179.
The next release will ship with a new rendering backend.

[2020-05-31 18:10] kivimango commented on #217
Some keys were missing which I needed support for the NumericBox, and there were some conflicts before merging #211.
What is the keycode/unicode (?) for the Numpad Slash key?  I cant find it.
Anyway, we need a better and more robust keyboard abstraction.

[2020-05-31 19:07] jrmuizel commented on #216
On macOS it looks like this is caused by `window.limit_update_rate()` which causes minifb to limit the frame rate to no more than 15fps.

[2020-05-31 19:14] PonasKovas commented on #217
I'm pretty sure there's no such thing. Both the slash key and the numpad divide key correspond to the same character.

I could be wrong though.

[2020-06-01 01:14] dollarkillerx commented on #215
libwayland-cursor0 is already the latest version (1.16.0-1ubuntu1.1 ~ 18.04.3).
cargo build
[code]

[2020-06-01 06:11] charleschege commented on #215
This part
[code]
shows that there are missing packages needed to compile and they have not been found. Try installing `libwayland-dev`

[code]

[2020-06-01 10:33] dollarkillerx commented on #215
Grateful

[2020-06-01 10:33] #215 closed

[2020-06-01 17:55] adals commented on #101
Hello thanks for your hard work. I do appreciate it.

when do you think it will be implemented. is there any plan like 2020,2021

because I am beginner and I really want to learn rust(for mobile android and ios) but if it will take long time like 2024 maybe I will change to flutter. but if it will take less time I will keep learning rust.

so please what are blockers right now? from your project a

[2020-06-01 17:59] adals opened #219 "numeric_box example crashed"
cargo run --example numeric_box

then increase the size of screen from right .. it will be crashed
my os macOs catalina

Running `target/debug/examples/numeric_box`
2020-06-01 20:51:10.789 numeric_box[10923:1965257] Names (null)
zsh: segmentation fault  cargo run --example numeric_box

[2020-06-01 18:41] tommywalkie commented on #101
@adals I think it is still work in progress, I didn't try OrbTk yet, through the README mentions it is already _doable_ via `cargo-node` but with some caveats. Native Android support is still "planned".

FWIW, I also started learning Rust months ago and was looking for Android support so I started to follow OrbTk and this issue thread. I would say it is still possible to start learning Rust and pl

[2020-06-02 04:22] FloVanGH commented on #219
@adals thank you for the report. I have the same issue on macOS.

[2020-06-02 04:41] FloVanGH commented on #217
The issue should be fixed now. But @kivimango yes we need there a robuster solution.

[2020-06-02 04:41] #217 closed

[2020-06-02 04:42] FloVanGH commented on #214
@kivimango thank you for the report, this also for the latest version.

[2020-06-02 04:43] FloVanGH commented on #179
The performance should now a little bit better for the current backend https://github.com/redox-os/orbtk/pull/218

[2020-06-02 10:53] adals commented on #101
@tommywalkie thanks for your clarifications. I got it now and will keep learning with a hope to compile apps like flutter in rust in the near future

[2020-06-02 11:14] FloVanGH commented on #101
I think it is realistic that we have native Android support this year. I'm currently work on a new backend, that willl make it a lot easier to implement Android support.

[2020-06-04 23:51] ShayBox opened #220 "Get spawn position hints"
How do I spawn a window following the platforms user position hints instead of always defaulting to top left

[2020-06-05 04:32] FloVanGH commented on #220
That is not yet possible, but it is a good suggestion. Thank you.

[2020-06-05 05:03] ChayimFriedman2 opened #221 "It is possible to open a window with maximized size?"
The title tells the story... I want to open a window as maximized.

[2020-06-05 05:43] FloVanGH commented on #221
@ChayimFriedman2 not yet but I could implement it as next. I let you know when it's done.

[2020-06-07 22:41] komfluent commented on #216
I have the same issue on windows 10 home
Intel core i5
Nividia Geforce 940m

[2020-06-08 05:44] FloVanGH commented on #179
## Update

I measured after a while the duration of the applications parts and here are the results (old backend / debug build / widgets example):

1. Rendering (raqote / minifb) ~5ms
2. Layout ~5ms
3. Event ~5ms
4. State management ~85ms

I was wrong. Also the old backend is not that slow that I thought. The main performance issue in OrbTk is the state management (85% of time for one run). Before

[2020-06-08 05:45] FloVanGH commented on #216
Check: https://github.com/redox-os/orbtk/issues/179#issuecomment-640382888

[2020-06-08 10:06] kivimango commented on #197
I'm thinking of moving the current logic of TextBox into a separate widget/behavior which manipulates the parent text property, and in TextBox just make it as a child and add
`.editor(TextEditor::create())`.
Thus we can share the same functionality across different widgets.
Users can implement their own editors.
Adding new text related widgets should be easy as one two three.
I will play around wi

[2020-06-08 17:24] rzerres commented on #106
Almost 6 month since your first Quote. Is there any progress? Is there any assistance to coordinate the job?
What are the reachable goals to get a basic documentation to start off?

[2020-06-08 17:33] FloVanGH commented on #106
One of the next topics are the simplification of some API parts. I think that should be done before releasing a guide with source code examples. To get a little more guidance until the guide is released I’ve added base concepts to the Readme.

But I hope we could release the first iteration of the guide after the api update.

[2020-06-08 18:53] rzerres commented on #113
@Light-Wizzard
Did you quit work on that issue? the given github link seems to be dead ...

[2020-06-08 18:56] rzerres commented on #106
@FloVanGH
Thanks  for the fast answer. I do appreciate all your valuable work and will try to dig deeper into the example code for now.
I will use the API to implement a basic from based application.

For what i have seen so for, one missing peace is the absence of a 'Login' widget, beside usefull stuff like "Tree View, Table View". The latter already seems to be on the agenda.

[2020-06-08 19:51] Light-Wizzard commented on #113
Yes, I went back to using Qt and gave up on Rust till it has its own GUI tools built into it, so I do not have to use 3rd party projects.

My Concept worked by the way, but no one was interested in that Concept, so I deleted it, I think I still have the code, if you are interested, I can make it available.

Flesh

[2020-06-09 14:33] rzerres opened #222 "Compiling v0.3.1-alpha2"
**Compile v0.3.1-alpha2 on arch-linux**
Arch offers a stable compiler package (rustc v1.44.0)
I have cloned/pulled updates for Orbtk as usual.
When compiling  examples or the doc, compiler will throw unrecoverable errors.
May that is expected because of the api redesign?  Should i simply wait for updates?
**To Reproduce**
Steps to reproduce the behavior:
1. cd ~/orbtk
2. cargo run --example widget

[2020-06-09 14:43] rzerres commented on #197
@kivimango any progress with your playground?
I would like to use this, too!

[2020-06-09 22:17] kivimango commented on #197
Not yet, I'm currently writing my own app, but I would like to make it in the next few days (maybe a week).
I will let you know here or on the chat, or you can check the pull requests frequently.

[2020-06-10 04:24] FloVanGH commented on #222
It looks like it references an old version of DCES. Could you check if `cargo update` helps? Where did you loaded the example from?

[2020-06-10 04:26] FloVanGH commented on #179
I found the main reason for the bad performance. To many unnecessary updates where be triggered. I fixed it for buttons and will fix it also for other widgets. At next I will implement also an new concept to prevent unnecessary  updates.

[2020-06-10 04:27] FloVanGH commented on #216
Check: https://github.com/redox-os/orbtk/issues/179#issuecomment-641712743

[2020-06-10 05:51] FloVanGH commented on #216
should be fixed now.

[2020-06-10 05:51] FloVanGH commented on #179
should be fixed now.

[2020-06-10 07:08] rzerres commented on #222
@FloVanGH I downloaded the code from the github repository.
Then i chrosschecked with the repros at gitlab. Since that i saw an updated branch (theme) i gave it a shot. And it does compile. So probably this issue will render obsolete, once you upload the stuff.
For now, i have a starting point to dig into the api changes coming with the theme integration.

I thought the primary development is shif

[2020-06-10 07:31] rzerres commented on #197
I will work on my code and will postpone the login dialog until i can implement it with this upcoming widget.
Maybe this can be wrapped with an overlay, combined with an image (roughly mimic the OS-default login windows?)

[2020-06-10 08:29] FloVanGH opened #223 "Breaking API changes"
## Intro

To stabilize the API on widget side I want to do some last breaking changes and simplify the current API. After that you should not expect major API on widget side before 0.4. After that API widget changes the API on state side will be extended also for simplification purposes, but it will be more extends than major breaking changes.

I hope for your feedback.

## Planned breaking change

[2020-06-10 08:32] FloVanGH commented on #222
Yes the complete development is moved to github, the gitlab repo is now only a mirror. It is planned to stay with OrbTk on github.

[2020-06-10 09:01] FloVanGH opened #224 "New style format"
I'm working on an alternative to the css styling.

## Feature overview

* Based on ron (alliterative formats could be possible)
* Allow to split theme in different files
* Define resources like colors and use them with a key
* Styles could derive from other styles
 * Now my implementation is a little bit faster then the current css implementation in OrbTk

As examples you could check the files. I

[2020-06-10 09:24] FloVanGH commented on #158
Should be fixed.

[2020-06-10 09:24] #158 closed

[2020-06-10 09:25] FloVanGH commented on #187
should be fixed.

[2020-06-10 09:25] #187 closed

[2020-06-10 11:42] valkum commented on #223
Can't we put the ctx into create now new?
`Widget::new(ctx: &mut BuildContext) -> Self`

And what about this widget macro replacement?

[code]

[2020-06-10 11:50] FloVanGH commented on #223
@valkum

Widget::new(ctx: &mut BuildContext) -> Self

Unfortunately that is not possible because of borrowing.

That was just an idea. I'm not sure if it is better. Therefore I'm asking.

[2020-06-11 01:41] komfluent commented on #179
I just recompiled using: orbtk = { git = "https://github.com/redox-os/orbtk.git", branch = "develop" }
still having the same performance issues using the widget example, haven't tested the others yet but i'm assuming they're the same as well. Here is an example https://i.imgur.com/PihOsdz.gifv

[2020-06-11 05:52] FloVanGH commented on #179
Do you have done an cargo update?

[2020-06-11 06:39] pheki opened #226 "Does not work on Metal-less macOS"
**Describe the bug**
Trying to run using the `0.3.1-alpha2` version will panic at `orbtk_shell::platform::WindowBuilder<A>::build` with `Failed to create window "Unable to open Window"` on Metal-less macOS

**To Reproduce**
Steps to reproduce the behavior:
1. Add `orbtk = "0.3.1-alpha2"` to your dependencies
2. Copy the minimal example
3. `cargo run`

**Expected behavior**
To work on any x64 macOS

[2020-06-11 14:20] komfluent commented on #179
Same thing, it did fetch the update and apply it, but the lag is still really bad

[2020-06-11 17:42] FloVanGH commented on #179
Can you please new download and check the code. Do you tested it also on release build?

[2020-06-12 01:19] komfluent commented on #179
Ok --release significantly improved it. Still a bit of lag though

[2020-06-12 03:03] komfluent commented on #179
Ok I tried completely deleting my target/ folder and rebuilding and that has definitely helped. Still a little bit of lag that's noticable but a huge improvement over before
![orbtk gif](https://user-images.githubusercontent.com/34290505/84460353-92327c80-ac1e-11ea-9f9e-9fffac27ff37.gif)

[2020-06-12 04:07] FloVanGH commented on #179
Ok thank you. There will be more improvements coming.

[2020-06-12 15:54] rzerres commented on #224
@FloVanGH
Probably this are the commits in the theme branch?
I would like to give that a try with an small example app. I need to deliver a small tool where a user needs to verify the existence of a claim-number. I have the following idea:

* Create a crate that reads in a list of claim-numbers from a given input. Input format might be a  file, given as a pdf, csv or json list. Just as a proof of

[2020-06-12 16:01] rzerres commented on #223
for consitency with the overall rust style, i would prefere the macro replacement style @valkum  introduced.

[2020-06-12 17:40] FloVanGH commented on #223
## First api update (live)

### create => new

Renamed all `create` methods to `new`. create is still available but is marked as `deprecated` and will be removed with 0.3.1-alpha4.

#### Old

[code]

#### New

[code]

### vertical_alignment => v_align; horizontal_alignment => h_align

Renamed `vertical_alignment` method to `v_align` and `horizontal_alignment` to `h_align`. vertical_alignment and h

[2020-06-12 17:46] FloVanGH commented on #224
@rzerres

The code in the theme branch is quick and dirty. I will provide a clean implementation soon. Will be my next topic.

Sure I'm happy to help. Feel free to ask what you need. I think OrbTk should provide everything you need to implement your idea.

We have a channel on the Redox chat https://redox-os.org/community/ called OrbTk. IYou can also write me there personally.

[2020-06-13 06:51] rzerres commented on #222
Since the issue is fixed in the upcoming  v0.3.1-alpha3 i will close this issue.

[2020-06-13 06:51] #222 closed

[2020-06-13 08:11] FloVanGH commented on #226
I’m working on an alternative backend. Could you check the pathfinder branch and run: cargo run — example widgets — features pathfinder and let me now if it run on your metalless macOS.

[2020-06-13 21:08] pheki commented on #226
Very nice! It partially works (open and render widgets) with "Selected" incorrectly (?) over the list and 100% usage on one of my cores. I also cannot interact with anything, but its probably because its hanging the core.

Not sure if that's just the current state of the backend, but I can try to do some perf / flamegraph to identify the culprit.

![image](https://user-images.githubusercontent.com

[2020-06-13 21:24] FloVanGH commented on #226
Ok really nice, thank you. Yes it’s the current state. I will continue my work on the new backend soon.

[2020-06-14 15:48] Charles-Schleich opened #229 "Buttons draw over eachother when placed on a grid"
How can I set buttons to not draw over each other when placed on a grid in columns ?
And rather just fill up the width they are set to, and the next button gets drawn directly to the right.
I.e. TAB, CAPS, and space are longer than other keys
Space gets drawn,  then (ALTGR, FN, OPT,RCTRL) all get drawn ontop of the space bar which still extends outwards to the right after RCTRL.

![image](https://

[2020-06-15 06:01] FloVanGH commented on #229
In your case it would help to add `auto` columns to your grid:

[code]
Auto columns gets the width of the widgets element in the column.

If you want to add spacers between your buttons you could add spacer columns between the buttons:

[code]

By the way nice project.

[2020-06-15 06:22] #216 closed

[2020-06-15 10:02] FloVanGH commented on #223
## Update better widget access on states

Feedback please:

Old: https://gist.github.com/FloVanGH/c099bb55258d464b9529143231752b64
New: https://gist.github.com/FloVanGH/616944991949718a27067a31844331c2

[2020-06-15 17:10] Charles-Schleich commented on #229
This looks so much better, i was trying functions like `.clip` `.padding`.
Thank you @FloVanGH !
Great library, looking forward to using it more :+1:

[2020-06-15 17:22] FloVanGH commented on #229
You’re welcome. Thank you I’m glad to hear that 🙂.

[2020-06-15 18:44] #105 closed

[2020-06-15 18:45] #110 closed

[2020-06-15 18:45] #131 closed

[2020-06-15 18:45] FloVanGH commented on #131
Long time no activity m. I close this.

[2020-06-15 18:46] #179 closed

[2020-06-15 18:47] #212 closed

[2020-06-15 18:47] #210 closed

[2020-06-16 19:49] kivimango commented on #184
Can you test it again pls?
Can we close it ?

[2020-06-17 11:39] Tazoeur commented on #184
yup, working as expected since last time (5 may)

[2020-06-17 11:39] #184 closed

[2020-06-17 14:19] rzerres commented on #106
@FloVanGH

I updated some comments as an issue for the "Do it" reference application. You will find it at.

https://codeberg.org/flovanco/doit/issues/7

[2020-06-17 19:24] kivimango commented on #184
thank you.

[2020-06-21 14:17] thivmcthiv opened #232 "Problem with the minimal example"
Hello,
      I am a relatively new rust user, and I am trying to utilize the orbtk crate to make gui applications, however the minimal example shown in the readme doesn't seem to work with the code in main.rs as this:
[code]
However, I tried to compile it, and you get this:
[code]

Is it possible that the example is out dated?

[2020-06-21 14:41] thivmcthiv commented on #232
the documentation on docs.rs  seems to be updated, with using ::create() instead of ::new(), but not the readme.

[2020-06-21 15:06] FloVanGH commented on #232
create() is the old one and is marked as deprecated. new() replaces create(). Could you try to make a cargo update and then run the original minimal example code?

[2020-06-21 16:44] thivmcthiv commented on #232
When there is:
orbtk = { git = "https://github.com/redox-os/orbtk.git", branch = "develop" }
in the toml file instead of 0.3.1-alpha1 then the minimal example almost compiles, except the Window::new().child() method only takes one argument:
[code]

[2020-06-21 17:27] #232 closed

[2020-06-22 08:42] kivimango commented on #97
Im thinking of this:
[code]

like GridView.
When user clicks on one of the tab's header, the TabView widget will set the selected tab's `visible `property to `true`

[2020-06-22 08:56] FloVanGH commented on #97
@kivimango what about a shorter version:

[code]

Index could be implicit generated.

[2020-06-25 08:17] kivimango opened #237 "Crash message should be more informative"
# Context
When orbtk crashes due to developer error, e.g.: setting a property that does not exist, the panic message is:

# Problem description & Solution
I don't know what the concrete type or property is, I can only guess.
# Examples and MockUps
The panic message should be more informative, printing the concrete type/property, like:

[2020-06-25 08:30] FloVanGH commented on #237
@kivimango I'll add more informative message there. But for now to prevent that you could also use the new snake_case variant of a widget e.g. `button(ctx.widget()).set_text("Click")` or `Button::get(ctx.wiget()).set_text("Click")`. This two will automate generate for all widgets creates by the wdiget macro.

[2020-06-25 09:13] FloVanGH commented on #237
Updates for some methods of `WidgetContainer`. More will follow.

[2020-06-25 09:59] kivimango commented on #237
Thanks. I was about just sending a PR :).
Anyway, I tried to update to the latest version, but it breaks my custom theming, the default orbtk dark theme is loaded.

[2020-06-25 21:18] thivmcthiv opened #238 "Newbie question about TextBox widget"
So I am basically trying to make a gui for a command line aes and blowfish encryptor/decryptor, and I have a textbox where the user would input the path to a file that will be encrypted with a random key and nonce, but I don't know how to access the file path that was inputed in the textbox.
I am relatively new to rust, so I'm not very familiar with how docs.rs works, but I tried my best to find t

[2020-06-25 21:37] kivimango commented on #238
First, you have to set an id to your Textbox e.g.:
[code]

Then, in your init() method of MainViewSate you save the Entity of your Textbox to the MainViewState like: (_based on the TextBox id_):
`let self.textbox = ctx.entity_of_child("my_textbox)`
(this code assumes that the TextBox is a child of the MainView).

Then, you can do in update():
`let txt_box_value = ctx.get_widget(self.textbox).get::

[2020-06-25 22:40] thivmcthiv commented on #238
and what if the text box isn't a child of  MainView?

[2020-06-26 01:05] thivmcthiv commented on #238
How could you get the Entity for a child of a child? I know there is a way to get the  BuildContext for a Context with the .build_context() method, but can I get the Context for an Entity, so that I could do something like this:
[code]
where the .context() method returns the Context for the Entity of the child my_container, and then we could call entity_of_child() again, to get the Entity of a chi

[2020-06-26 07:51] rzerres opened #239 "rusttype successor"
orbtk will probably merge it in, if there is a benefit. It seems it has no high priority yet, since rusttype is working.
What is the name of the successor project?

[2020-06-26 07:54] FloVanGH commented on #239
ab_glyph: https://gitlab.redox-os.org/redox-os/rusttype/issues/148

[2020-06-26 11:42] kivimango commented on #238
1. save the entity of the first child into the state struct in init():
`self.first_child = ctx.entity_of_child("my_container");`

2. change the context into the first child in update():
Then you can access the children of the first child.
[code]

or if you make a gist i can contribute to it

[2020-06-26 20:32] thivmcthiv commented on #238
That worked perfectly! thank you so much for the help!

[2020-06-26 20:32] #238 closed

[2020-06-26 20:39] thivmcthiv opened #240 "Capital letters in a TextBox"
Hey, I noticed earlier that using shift (or caps lock) doesn't work in textboxes. Is this just a bug on linux, or is it Impossible to use capitals in text boxes?

Edit:

yeah, it seems to be a bug. Typing in capital letters into TextBoxes works fine on macos, but on ubuntu, typing capital letters doesn't work.

[2020-06-28 00:00] Gemo-X opened #241 "The Helloworld program can't run that Child function is not right"
I try to run the Helloworld in branch develop. But the program is not run.

[code]

[2020-06-28 00:18] #241 closed

[2020-06-28 18:56] Zoldszemesostoros opened #243 "Thread listeners"
# Context

In which context or scenario will your feature/widget be used?
Almost every application that performs actions taking a long time (e. g. network requests). For example a chat application.

# Problem description & Solution

Describe your problem and possible solution here

It's very hard to modify the GUI from another thread. You can't do this directly, because of Rust's ownership system,

[2020-06-29 04:23] FloVanGH commented on #240
Thank you for the report. I will check it.

[2020-06-29 04:26] FloVanGH commented on #243
At the moment the build in mechanisms of OrbTk for Threading are very limited. In the next two weeks we will release 0.3.1-alpha-3 and after that version one of the main topics will be a comfortable way to run custom task synchronous and asynchronous from a widget state.

[2020-06-30 09:24] michalsieron opened #244 "Widgets example panics when adding new element to list"
**Describe the bug**
Widgets example panics when adding new element to list

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/redox-os/orbtk`
2. `cd orbtk`
3. `cargo run --example widgets`
4. Click on '+' button in Items section

**Expected behavior**
Example showcasing that widgets are working should not panic.

**Screenshots**
[code]

**Desktop:**
 - OS: Fedora

[2020-06-30 09:36] michalsieron commented on #219
I have no issue on WSL with Xming. Also checked on Lubuntu with Virtualbox and there was also no issue except for terrible performance (Lubuntu itself runs fast, example is slow). Performance of release version is ok though.
Running latest version from repo.

[2020-06-30 10:46] FloVanGH commented on #244
fixed

[2020-06-30 10:46] #244 closed

[2020-06-30 13:36] kivimango commented on #243
I second that.It is essential for GUI applications to run certain (I/O) tasks on a separate thread to do not freeze the UI.
(and soon I will need that feauture in my app)

[2020-06-30 16:30] michalsieron opened #246 "Value of ONE_SCROLL is not universal (NumericBox widget)"
**Describe the bug**
In source of `NumericBox` widget, value of `ONE_SCROLL` is not universal between systems, thus value inside of `NumericBox` may not be changed by multiples of `step`.

**To Reproduce**
Steps to reproduce the behavior:
1. `cargo run --example numeric_box`
2. Scroll with mouse wheel on numeric box
3. You may or not see the bug

**Expected behavior**
Value inside of `NumericBox`

[2020-06-30 16:54] FloVanGH commented on #246
@kivimango could you check it?

[2020-06-30 17:17] kivimango commented on #246
yes, but it will take some time...

[2020-07-01 20:04] michalsieron commented on #246
I found something. It's about X11 only, but it may explain some of this.
[Here](https://stackoverflow.com/questions/15510472/scrollwheel-event-in-x11) first comment under the answer says that X11 fires 2 events for one scroll: button press and release (that would explain why in my case single scroll had delta 2), because X11 treats mouse wheel as buttons 4 and 5 (not to confuse with actual buttons

[2020-07-02 15:48] Firionus opened #248 "Example in README broken on recommended release"
**Describe the bug**
Minimal example in README.md is not compatible with release recommended in README.md.

**To Reproduce**
1. `cargo new orbtk_minimal`
2. add `orbtk = "0.3.1-alpha1"` to dependencies in Cargo.toml as recommended in README.md
3. Copy minimal example from README.md into main.rs, replacing existing Hello-World-code
4. `cargo run`
5. Get compiler error
[code]
**Expected behavior**
E

[2020-07-03 16:11] michalsieron commented on #246
Ok, I fired up VM with SwayWM to test Wayland and found that single scroll is there equal to 15.0 in this case.
Also not sure whether it's OrbTk, Sway or VM, but OrbTk apps (I checked widgets example) don't render correctly in window. They appear as if they are outside of the window and mouse cursor is not visible.

[2020-07-03 17:00] michalsieron commented on #246
Also it seems, that in Windows using touchpad will not result in multiples of 12.0. Delta can take any value there, so `NumericBox` can take value different than **start** + **n** x **step**.

[2020-07-04 16:30] kivimango commented on #246
the delta's values source is the minifb crate:
crates/shell/src/minifb/window.rs line 146.
fn get_scroll_wheel() declared in the rust_minifb crate: src/lib.rs line 516, which is calling the underlying platform-dependent code from the https://github.com/emoon/rust_minifb/tree/master/src/os module.

I think this should be delegated to minifb, NumericBox does not even compute the delta for itself, it

[2020-07-04 18:14] ashsv opened #249 "[Question] Handle the window close event"
Hello.
Is it possible to handle the window close event now? I need, instead of close the application (by clicking the Close button, for example) hide the window (there will be an icon in the system tray).

[2020-07-04 22:44] thivmcthiv opened #250 "good way to show error or other messages?"
Hello again,
I was wondering if there is a good way to show error messages in applications. for now, I am just using just new windows, with a function like this:

[code]
But that doesn't always seem to work, for example in a situation like this even though there is thread::sleep() both of the windows open at the same time after 3 seconds for some reason:

[code]

Is there some other way to show me

[2020-07-05 07:44] FloVanGH commented on #248
Thank you for the report. I will fix it.

[2020-07-05 07:45] FloVanGH commented on #249
Hi, do you want to close the window for code or do you want to hide it from code?

[2020-07-05 08:49] ashsv commented on #249
I need to make the main application window invisible, in pseudocode
`AppWindow.set("visibility", Visibility::from ("hidden"));`

(I apologize for the unclear speech, my English is bad)

[2020-07-06 09:31] kivimango commented on #250
Maybe you could use a Popup.
https://github.com/redox-os/orbtk/blob/develop/crates/widgets/src/popup.rs
I will push an example of how to use it.

[2020-07-06 19:47] carlbean opened #253 "Seems like stack layout can't handle images"
**Describe the bug**
When i put one or more images in a Stack layout, they always end up at the start of the stack on top of everything.

**To Reproduce**
[code]
![Screenshot from 2020-07-06 21-33-49](https://user-images.githubusercontent.com/67280743/86633105-8a24ed00-bfd0-11ea-9723-1fff5c25e335.png)

 - OS: Ubuntu 18.04
 - Version [develop branch](https://github.com/redox-os/orbtk/tree/e8b0f9a3f

[2020-07-08 06:38] FloVanGH commented on #253
Should be fixed now.

[2020-07-08 06:38] #253 closed

[2020-07-08 06:38] FloVanGH commented on #250
@thivmcthiv the popup example is merged and on the master now.

[2020-07-08 06:38] #250 closed

[2020-07-08 06:39] FloVanGH commented on #249
@ashsv such a feature is not implemented now. If have to check how it could be possible.

[2020-07-08 06:42] FloVanGH commented on #248
@Firionus I see. There are some API changes that not included in `0.3.1-alpha1`. If you want to run the example from the Readme you have to use `orbtk = { git = "https://github.com/redox-os/orbtk, branch = "develop" }` until `0.3.1-alpha3` is released.

[2020-07-08 06:42] #248 closed

[2020-07-08 09:21] carlbean commented on #253
Works great! Thanks a lot!!!

[2020-07-08 09:46] #237 closed

[2020-07-08 19:48] thivmcthiv commented on #250
Oh ok. thanks. (although I am now having issues with the popup widget) they dont seem to show up, even with .open(true) and .visibility(Visibility::Visible)

[2020-07-08 20:14] thivmcthiv opened #254 "Popups don't show up"
I am still familiarizing myself with this toolkit, and while I was trying to use the popup widget, I tried everything to make it appear,  but nothing worked.

I tried using .open(true) and tried setting the visibility to visible, but that didn't work either. How do I actually get my popups to show up when a button is clicked or by any other means?
I also need a way to hide and show the popup on cl

[2020-07-09 05:15] ashsv commented on #249
Ok, thank you

[2020-07-09 05:39] FloVanGH commented on #254
@thivmcthiv you could ask everything. Essential you've got what you need to dive in deeper in OrbTk. @kivimango created an example for the popup you could check: https://github.com/redox-os/orbtk/blob/develop/examples/popup.rs. I hope this will help you.

[2020-07-09 07:22] kivimango commented on #254
If you check the popup.rs in the examples folder, you will see that create_popup() fn passes an Entity called target to the Popup builder. Then if you check the source code of the Popup in https://github.com/redox-os/orbtk/blob/develop/crates/widgets/src/popup.rs you will see that Popup has a property called **target**,
Then in the example's update() function,  two variables get declared:

[code]

[2020-07-09 08:16] kivimango commented on #246
I think I solved it. since orbtk already fires a scroll event, I just need to change the value by step based on the delta is negative or positive.
I need to test it, I will fire up a Linux VM.
It happens on the wasm platform too.
And also pressing the +/- keys fires two events somehow.

[2020-07-11 17:46] michalsieron opened #255 "Text selection flickers when moving mouse cursor"
**Describe the bug**
Text selection flickers when moving mouse cursor

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/redox-os/orbtk.git`
2. `cd orbtk`
3. `cargo run --example widgets`
4. type some text into `TextBox`
5. Click on other widget to take focus from that `TextBox`
6. Move mouse and see flickering

**Expected behavior**
Selection should not flicker

*

[2020-07-12 20:05] thivmcthiv commented on #254
That example was a tremendous help, and I was able to make something like it with pattern matching by putting this in the update function:
[code]

Thanks so much for all the help!

[2020-07-12 20:05] #254 closed

[2020-07-12 20:31] kivimango commented on #254
I'm glad it helped.
One more thing: I'm not really a fan of unwrapping().
You could do instead in init():
[code]
then in update():
[code]

[2020-07-12 20:37] thivmcthiv commented on #254
Oh yeah thats a good idea. I'll probably have self.container be Option<Entity> so that in the case that the entity is not found I can handle the errors.

[2020-07-13 11:04] phill-85 opened #256 "error: failed to select a version for `quote`."
Cannot build orbtk on windows 7

`error: failed to select a version for 'quote'.
    ... required by package 'orbtk-proc-macros v0.3.1-alpha3 (https://github.com/redox-os/orbtk.git?branch=develop#cef22710)'
    ... which is depended on by 'orbtk v0.3.1-alpha3 (https://github.com/redox-os/orbtk.git?branch=develop#cef22710)'
versions that meet the requirements '^1.0.3' are: 1.0.7, 1.0.6, 1.0.5, 1.0.

[2020-07-13 16:17] kivimango commented on #246
I don't know why this happens, maybe related to TextBox or Grid.It is strange because in the widgets example the horizontal scrolling of the text in the TextBox is working.

[2020-07-13 17:37] #246 closed

[2020-07-14 05:16] #229 closed

[2020-07-15 18:47] uniformbuffer opened #259 "[Question] Resizing canvas"
Hi,
i have recently discovered this toolkit, and i like it very much, i was looking for a pure rust gui toolkit from long time.
For an application that i'm writing, i'm using the Canvas widget to draw some moving 2D figures. Unfortunaly i have encountered a problem: i'm not able to resize the canvas when window itself resize. Probably i miss something, but if i have understood correctly, to make w

[2020-07-16 02:21] thivmcthiv commented on #259
If you have the canvas in a grid, and you are using .add(<some number here>) then the grid itself wont resize. Instead you could use .add("auto")

[2020-07-16 11:01] uniformbuffer commented on #259
Hi,
thx for the quick reply. In my project the canvas is not inside a grid, but added directly to a custom widget that is added to the window. It is in a configuration similar to the canvas example inside the repository. If you take the example and simply add
`.resizeable(true)
 .v_align(Alignment::Stretch).h_align(Alignment::Stretch)`
to the main window, the canvas should inherit the property and

[2020-07-16 18:17] FloVanGH commented on #259
Hi,

I checked the `Canvas` and I think there is a bug and it is not possible now to resize it on runtime. I could work on a fix next week and let you know.

[2020-07-16 23:46] michalsieron commented on #255
Seems like it has been fixed by recent changes with themes, so I will close it.

[2020-07-16 23:46] #255 closed

[2020-07-16 23:59] michalsieron opened #262 "`TextBox` overwrites previous characters"
**Describe the bug**
Selecting text in `TextBox` with `Ctrl+a` shortcut and then typing letters results in only one letter appearing.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/redox-os/orbtk`
2. `cargo clean`
3. `cargo run --example widgets --release`
4. Type some text into one of the `TextBox`es
5. Press `Ctrl+a`
6. Type some text
7. Only one character ap

[2020-07-17 09:48] michalsieron commented on #256
Can't reproduce your issue on fresh Win7 VM
Steps I did:
* `git clone https://github.com/redox-os/orbtk`
* `cd orbtk`
* `cargo clean`
* `cargo run --example widgets`

Note: I have compiled for `i686-pc-windows-gnu`

[2020-07-17 10:12] uniformbuffer commented on #259
Hi,
i made some tests last night and i have encountered some stretching problems also with Stack and Container widgets, so maybe there is a correlation with the canvas resize problem. I will provide some code to quickly test what i found:

`
use orbtk::prelude::*;
fn main() {
    Application::new()
    .window(|ctx| {
        Window::new()
        .title("Test")
        .position((100.0, 100.0))

[2020-07-17 15:09] uniformbuffer opened #263 "Widget property name during template building"
# Context

In which context or scenario will your feature/widget be used?
Hi, i look for a way to map a specific property of a widget to a property of an internal one.

# Problem description & Solution

Describe your problem and possible solution here

An example code:
[code]
I would like to link the property `value` of MyWidget with the property `text` of TextBlock. Unfortunatly they have differe

[2020-07-17 16:08] FloVanGH commented on #259
Sure with pleasure if you want to help. Each widget has a RenderObject and a LayoutObject. Canvas has a PipelineRenderObject and a DefaultLayout object. You can found both on the api crate. The layouts are processed by the LayoutSystem also in the api crate. The DefaultLayout should be strechable but I'm not sure why it does not work on the Canvas. It stretches initial but not after. I hope that c

[2020-07-17 20:52] uniformbuffer commented on #263
Hi,
i made some other test today and maybe i found a solution that need to add only 3 lines (still testing, but should work):
[code]
This allow a `PropertySource<P>` item to be passed to the properties setters that have the same type, but with different names.
The precedent example with this modification look like:
[code]
Still missing a way to set a conversion function, but just this solve half o

[2020-07-18 07:52] kivimango commented on #263
Maybe you could accept the Into trait in the conversion function:
https://doc.rust-lang.org/std/convert/trait.Into.html

[2020-07-18 08:31] FloVanGH commented on #263
Unfortunately I think that is not that easy. The problem is that if you inject an id in a property a shared component will be generated in DCES (the entity component system OrbTk based on). A property is stored only one time in the DCES. And a shared property only references the origin property. That means that it must have the same type. If we want to introduce a conversion we need to update it i

[2020-07-18 11:46] uniformbuffer commented on #263
Yes, that's surely a better way to do this, with Into trait there is no need to keep trace of the source type, and since the destination type P is provided by PropertySource<P>, everything is needed is already here.

[2020-07-18 16:53] uniformbuffer commented on #259
Hi,
today I started looking for the bug that causes the widget stretching problem and I focused on the Stack widget.
After some debugging it came out that the StackLayout (the layout that is used for the Stack widget) in a specific point overwrite the align property of it's children on the same direction of the orientation of the stack with Alignment::Start. So if you set the orientation of Stack

[2020-07-18 20:01] nebrelbug opened #264 "Examples fail to run"
**Describe the bug**

When running `cargo run --example widgets --release`, the build fails with

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the OrbTK repository
2. Run `cargo run --example widgets --release` inside the repository

**Expected behavior**
Examples would run.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please compl

[2020-07-20 05:09] FloVanGH commented on #264
You first need to install

```sudo apt install libxkbcommon-dev libwayland-cursor0 libwayland-dev```

[2020-07-20 05:15] FloVanGH commented on #262
Fixed.

[2020-07-20 05:15] #262 closed

[2020-07-20 05:17] FloVanGH commented on #256
@phill-85 could you check the latest code of the develop branch?

[2020-07-20 17:35] matthewashton-k opened #267 "Best way to handle a key press?"
What is the best way to detect if a key is down? I have tried a few things including using the KeyboardState struct, and having something like this in the update function where self.keyboard_state is of the type KeyboardState:

[code]

but I don't know how to call .set_key_state(Key::ShiftR, true) on self.keyboard_state when shift is actually pressed. Is there a different way to handle keyboard ev

[2020-07-21 04:30] FloVanGH commented on #267
Keyboardstate is only a internal struct used by the window and the event system.

A short example how to handle key press:

[code]

[2020-07-21 14:44] matthewashton-k commented on #267
Oh ok, that makes sense.

[2020-07-21 17:31] #267 closed

[2020-07-21 19:09] uniformbuffer opened #270 "Sharing DECS source through network"
# Context

In which context or scenario will your feature/widget be used?
Hi, for an application that i'm making i need to send some basic data through network to share the state between a client and a server, but i would like to avoid to use complex client-server specific library. Also, setting the library to pass the data manually one by one is very time consuming and if i need to change what da

[2020-07-22 04:58] FloVanGH commented on #264
Does is worked?

[2020-07-22 05:03] FloVanGH commented on #259
Hi,
the maybe weird behavior of the StackPanel is intended. It is the same as the StackPanel of WPF and has it purpose. It is a very special layout. For most cases I would suggest to use Grid instead. It is much more flexible and on default if you don't set columns and rows you could use it as alignment layout.

[2020-07-22 05:03] FloVanGH commented on #256
@phill-85 does it work?

[2020-07-22 05:11] FloVanGH commented on #270
Hi,
that's a very great idea and I think it is possible. And I'm looking forward to your PR. A good point to start with are the Context and WidgetContainer struct. These are the access points / wrappers for DCES and give you access to entity and components. But we have one problem, async task doses not work well in OrbTk at the moment. But it is one of my next priory topics!

Thank you!

[2020-07-22 05:13] FloVanGH commented on #270
Otherwise I have an idea for a SettingsService that also work remotely. It should provide the same API as the SettingsService but should provide the possibility to sync the data with a server.

[2020-07-22 14:37] uniformbuffer commented on #270
Hi,
i'm trying to realize this idea and i would like to ask if there is a way to register on DECS something like "on_change" on specific value of an entity. I would like to avoid to keep a copy of the "old values" of an entity and at each update look for fields that has changed, wasting memory, cpu power and increasing the effort on the ECS system.

My fault, I have used the wrong word, for "async

[2020-07-22 16:54] FloVanGH commented on #270
Hi,

I've been thinking about to introduce on_changed for a long time, but I haven't gotten around to it yet. It would also make many things easier. That would make it also possible to have on_property_changed on widgets.

It is not yet possible to unregister a shared component. But it should be easy to implement it. Maybe I could implement it soon.

Thank you

[2020-07-22 17:34] uniformbuffer commented on #270
Hi,
i have given a look to how DCES works (i was sure it was called DECS, sorry) and is a bit complex for me.
From what i have understood, values are managed by TypeComponentStore and they are mutated with `get_mut` function, that return a `&mut C` where C is the requested type. If this is correct, maybe it is possible to understand if a value has muted comparing before "get mut" and after "get mu

[2020-07-23 11:07] Kylekibet commented on #101
@adals I found this [article](https://dev.to/sunshine-chain/dart-meets-rust-a-match-made-in-heaven-9f5) about using rust and flutter. In the article it says dart support ffi. Theoretical you can code in rust, then call rust in dart. (I am a total beginner)😅

[2020-07-23 11:12] FloVanGH commented on #101
@Kylekibet and @adals there is also an project to use flutter with rust https://github.com/flutter-rs/flutter-rs.

Otherwise I am confident that we could Android support for OrbTk soon.

[2020-07-23 17:02] uniformbuffer opened #272 "Option property values"
Hi,
for an application that i'm making i need to store inside a widget an Option<T> value. I also need to set it from another widget that have a different name, so i set it using (&str,entity) "formula". Apart from the macro parsing error that come from when using "<" and ">" characters (that can be easily bypassed with `type OptionT = Option<T>;`, when setting the value, the compiler complain abo

[2020-07-23 17:13] FloVanGH commented on #272
Ah D&D 😄. If you are ready and want to show it to others I'm interested in seeing what you are doing 😉.

I workaround for the Option type is to to use an alias type `type MyType = Option<bool>;` this should work. But I think the macro need to extended to support also complex types.

About your unset suggestion I have to think.

Thank you

[2020-07-23 17:45] uniformbuffer commented on #272
Obviously it is a forcing and I would prefer to use another method. I'm still trying to undestand what cause that error.

[2020-07-24 05:07] FloVanGH commented on #264
I close this now if you have still that issue you could reopen it.

[2020-07-24 05:07] #264 closed

[2020-07-24 05:08] FloVanGH commented on #256
I close this now. If you have still that issue you could reopen it.

[2020-07-24 05:08] #256 closed

[2020-07-24 05:09] #239 closed

[2020-07-24 05:09] FloVanGH commented on #224
done

[2020-07-24 05:09] #224 closed

[2020-07-24 05:09] FloVanGH commented on #223
done

[2020-07-24 05:09] #223 closed

[2020-07-24 05:11] FloVanGH commented on #219
Should be fixed.

[2020-07-24 05:11] #219 closed

[2020-07-24 05:13] FloVanGH commented on #214
Could you check it again. I used the doit app the complete work day and it didn't crashed.

[2020-07-24 05:14] FloVanGH commented on #206
I will close this now and add more details later.

[2020-07-24 05:14] #206 closed

[2020-07-24 05:18] #162 closed

[2020-07-24 05:19] FloVanGH commented on #147
We switched to a new style format, therefore this will not be possible now.

[2020-07-24 05:19] #147 closed

[2020-07-24 05:25] FloVanGH commented on #106
https://github.com/redox-os/orbtk/issues/108

[2020-07-24 05:25] #106 closed

[2020-07-24 05:36] FloVanGH opened #273 "Glutin / Pathfinder backend"
# Context

New hardware accelerated backend based on [glutin](https://github.com/rust-windowing/glutin) and [pathfinder](https://github.com/servo/pathfinder) for faster rendering, better window functions and better platform support.

# Problem description & Solution

A new backend based on glutin (shell crate) and pathfinder (render crate) should be provided to improve performance, build on a stab

[2020-07-24 05:40] FloVanGH opened #274 "OrbClient / Raqote backend"
# Context

To improve the Redox support and cleanup the backend code for Redox a new backend based on [orbclient](https://gitlab.redox-os.org/redox-os/orbclient) and [raqote](https://github.com/jrmuizel/raqote) should be implemented. If current version of glutin and pathfinder are ported to Redox a switch could be possible.

[2020-07-24 05:50] FloVanGH opened #275 "Extract keyinput stuff to TextBehavior widget"
# Context

There will be a wide range of widgets that could handle text input. To prevent duplicated code the base key input stuff should be excluded in a reusable KeyInputBehavior similar to e.g. MouseBehavior.

# Examples and MockUps

[code]

[2020-07-24 09:25] whdxwym opened #276 "where is the main_view come from?"
In the examples/widgets.rs, I found the call to main_view, but I didn't find where it come. Could you please tell me?

[2020-07-24 10:05] FloVanGH commented on #276
It is generated by the widget macro. It is a little helper to get direct access to the properties of a widget.

[2020-07-24 12:52] uniformbuffer commented on #272
Sure, it's not a secret, simply i'm developing part by part and i will put all together at the end, so for now there is nothing concrete. Also i have first find a way draw figures in a battlefield-like space. Initially i thought about using canvas to do this, but maybe i could make a widget using absolute layout and move the figures setting "bounds" property. In this way i could use the event syst

[2020-07-24 15:17] uniformbuffer commented on #272
Hi,
i think i have found what cause that error: basically every `IntoPropertySource` implementations are generated by `into_property_source!(type)` macro and it will implement all the needed `IntoPropertySource` for the passed type.
Now, generally is possible to pass to `Context` and `widget!` macro any type, including Option<T> without problems. Errors come out when trying to use it where `IntoPr

[2020-07-24 17:42] nebrelbug commented on #264
This fixed it! Is this anywhere in the docs? Might be helpful for other users.

[2020-07-24 20:12] #97 closed

[2020-07-25 08:35] kivimango commented on #264
It's in the README

[2020-07-25 13:41] uniformbuffer opened #278 "ImageWidget scaling"
# Context
Hi,
i was wondering if it is possible to arbitrary set a size for an ImageWidget, independently by the image source (so i can pick an image 1024x768 and shrink to 150x150 for example).

# Problem description & Solution
I have given a look to `Image` and `ImageWidget` and seems that this feature is missing. If i have understood correctly, the drawing part of the toolkit is managed by "raq

[2020-07-25 17:11] FloVanGH commented on #278
This issue is duplicated check https://github.com/redox-os/orbtk/issues/129. It is planned for the 0.3.1-alpha5 release.

But I really like your idea of an image `Brush`. Could be also done on 0.3.1-alpha5.

[2020-07-25 17:46] uniformbuffer commented on #278
Oh, sorry for that, i have looked for a similar issue but i have found none. Next time i will look better, sorry.

[2020-07-25 17:54] FloVanGH commented on #278
Absolute no problem.

[2020-07-25 18:54] nebrelbug commented on #264
@kivimango oops, don't know how I missed that. Thanks!

Are those packages required in order to run OrbTK in general?

[2020-07-26 08:18] kivimango commented on #214
I did not experience crashes for now. It was related to RenderingTasks, maybe the changes to the rendering backend fixed it somehow.

[2020-07-26 08:18] #214 closed

[2020-07-26 11:12] uniformbuffer commented on #240
Hi, i have also encountered this problem (i'm using an AML-S905X-CC aarch64 linux) and i tried to find what cause it. After some digging seems that the code from Orbtk side is fine. Also, if i have understood correctly, the window backend of *nix systems is "minifb". Since it is used for both linux and mac os, so they share the same code, and, since on mac os work, it is very likely that the probl

[2020-07-26 11:33] uniformbuffer commented on #129
Hi, i have searched for a library that can be integrated to provide this feature and the most used (and the only one) is https://github.com/image-rs/image . Effectively there are some other libraries, but they are all based on this. The only problem is that require some dependencies, but is also provide an entire image manipulation library for a lot of formats, so maybe worth it? I don't know, wha

[2020-07-26 12:04] uniformbuffer commented on #270
Hi,
I'm still working on this idea and i think that is possible, but without an "on_change" implementation, the NetworkWidget would send a lot of data since the every mouse movement leads to an update. For the same reason, if a window contains a lot o widgets, moving the mouse on it will cause cpu spikes because every widget will redraw itself at every mouse movement. Maybe i'm the only one to not

[2020-07-26 14:09] FloVanGH commented on #240
Hi,

thank you for your research, I will check it too and will report it to minifb. This should be definitely fixed before the next release. I will test it also with the upcoming glutin backend.

Thank you

[2020-07-26 14:18] FloVanGH commented on #129
Hi, thanks again for your research 😉. Good new the OrbTk's render crate depends on the image crate for image handling. This functionality is only not yet implemented in OrbTk. Maybe the best place to do it would be a ImageWidgetState of the ImageWidget. It could adjust the image property (e.g. scale). This should work without changing the ImageRenderObject and the layout object of the image. What

[2020-07-26 14:24] FloVanGH commented on #129
For web we will need an other method. The web image does not use the image crate. Maybe we should implement it on the Image object itself. There is a native and a web variant of the image. But as I described the imagewidget state could trigger the scaling.

[2020-07-26 22:26] etrofla opened #279 "Orbtk - No Cursor"
**Describe the bug**
A clear and concise description of what the bug is.
Compiled source with no errors
When executing widget example (and others) no cursor is displayed in the Orbtk windows, only outside of window.
This is displayed in the terminal on execution:
  Failed to create server-side surface decoration: Missing (nothing else after this)

Running ubuntu 4.15.0-112-generic #113-Ubuntu SMP

[2020-07-27 06:15] FloVanGH commented on #270
Hi,
what I first will do today is to track when a widget has changes (mutable access of state and changes of properties) and use this as check for update functions and rendering.

Sure I'm glad you want to help. You can find the DCES repo on https://gitlab.redox-os.org/redox-os/dces-rust. You could login on the redox gitlab with you github credentials. Your suggestion is to implement a `on_change`

[2020-07-27 10:14] FloVanGH commented on #270
Hi,
I have good progress on the dirty flag (check for changes). Now the update / update_postlayout methods of states will only be called if the corresponding widget has changes. And rendering will only process if there are widgets with changes. No more redraw by mouse move ;-).

It runs now much more smoother. I only have to fix some bugs. I hope I could do the update today.

[2020-07-27 10:37] uniformbuffer commented on #270
Yes, something like that,

Yes, exactly.

Wow, you were quick, thanks for your hard work. I'm sure that basically everything on Orbtk will benefit from this change.

[2020-07-27 11:05] uniformbuffer commented on #279
Hi,
what desktop environment are you using?
If using GNOME, are you running on XOrg or Wayland?

[2020-07-27 13:34] FloVanGH commented on #270
I now can provide a on_dirty(|entity| ...) callback for an entity. Without updating dces. It will works with my current adjustments. I hope that will be what you need.

Thanks for your feedback it helps me a lot.

[2020-07-27 17:56] #108 closed

[2020-07-28 13:26] FloVanGH opened #281 "Multiwindow example freezes when open new window"
**Describe the bug**
The multi_window example freezes when open new window.

**To Reproduce**
Steps to reproduce the behavior:
1. cargo run --example multi_window
2. Click on "Show window" button

[2020-07-28 13:30] FloVanGH commented on #270
@uniformbuffer I'm finished with my updates. There is also a on_changes callback on each widget `on_changed(|states, entity, key| ...)`. It will emitted each time you do `ctx.widget().set(.....)` on a widget.

I hope this will help you.

[2020-07-28 16:31] uniformbuffer commented on #270
Hi, i'm reading the changes right now and they are amazing. I think that this change will open the possibility to implement some widget that are otherwise difficult to implement. Also now it's possible optimize further the behaviour of some widget that does not have to update entirely, but only partially. Thanks a lot for your hard work :smile: . I will share soon some widgets that have been possi

[2020-07-28 17:34] FloVanGH commented on #270
Your welcome 🙂. I had a lot of fun. And I'm very thankful for your input. And I'm looking forward for your widgets 😉.

At the moment I implement the possibility to filter the on_changed event for specific property changes. At default it filters everything. That means you have to set on the widget which property change events do want to recive `.filter(vec!["text"])`. But some widgets will provide

[2020-07-28 18:07] FloVanGH commented on #270
@uniformbuffer filter is ready and on develop.

[2020-07-29 07:11] whdxwym commented on #276
thank you, I see it after using cargo expand

[2020-07-29 07:11] #276 closed

[2020-07-29 08:12] kivimango opened #284 "api crate docs does not reflect the directory hierarchy on the filesystem"
# Context
When generating documentation with ```cargo doc --no-deps --open```, in the api crate only the widget module is shown.

# Problem description & Solution
There are more modules like event, layout, render_object.I wanted to make a link in the Template trait's docs to the render_objects module, but it is not resolved (all of the render objects, layouts etc "flushed" in the api module, they

[2020-07-29 09:56] FloVanGH commented on #284
Thank you. I will fix that for the next release.

[2020-07-29 12:28] MGlolenstine commented on #139
I've also noticed that Number pad on the keyboard doesn't seem to work for `settings` example and possibly other ones as well.

[2020-07-30 11:27] uniformbuffer commented on #270
Hi,
sorry for the late reply, i was a bit busy these days. I can't wait to try out the filter functionality, i think that is a great addition. It should allow to reduce the communication between widgets triggering the callbacks only when needed, as well as facilitate the writing of the code. :slightly_smiling_face:

[2020-07-30 12:39] FloVanGH commented on #284
done!

[2020-07-30 12:39] #284 closed

[2020-07-30 14:12] FloVanGH commented on #189
done!

[2020-07-30 14:12] #189 closed

[2020-07-30 20:39] kivimango commented on #264
I'm not sure, I would say yes, I'm on win 10 currently.

[2020-07-31 07:42] uniformbuffer commented on #270
Hi,
just a question: for the NetworkWidget i made an external thread that manage new connections and data coming from the internet. There is a way to have this thread signal an `update` to the main thread?

Thanks for the attention,
Have a good day

[2020-07-31 08:01] FloVanGH commented on #270
Hi,

Yes you can do it. It's the intention of the window_sender fn.

[2020-07-31 17:48] uniformbuffer commented on #270
Hi,
i have finished to write the first prototype of the NetworkWidget. For the test i'm using a NumericBox on 2 different application runs and when one change, the other should do the same. Unfortunatly i'm having some problems to get the `changed `event.
I have tested separately the NumericBox and seems that does not trigger the `changed` event.
I'm using this code:
[code]
In theory, when some pr

[2020-07-31 18:58] FloVanGH commented on #270
I'm now one week on vacation and unfortunately I can't help you now. I hope you find a solution. Otherwise I will help you after the vacation.

[2020-08-01 10:25] uniformbuffer commented on #270
Don't worry, i will try to figure out what is happening. Have fun on vacation :smiley:

[2020-08-02 09:31] kivimango commented on #221
I think a new method called fullscreen() should be added to the Window builder.
It would call a piece of code that acquires the current display resolution and would set a window position to (0.0, 0.0),
size to (resolution_x, resolution_y) and resizeable to false.

[code]

[2020-08-02 11:12] kivimango commented on #240
Using shift or caps lock in TextBoxes works under Windows 10 (only characters of the English alphabet, but that's another issue)

[2020-08-02 13:32] ChayimFriedman2 commented on #221
@kivimango That what I thought too. Too notes, though:

1. `.fullscreen(yes)`????? You probably meant `.fullscreen(true)`...
2. I think `fullscreen()` is an ambiguous, because it also means fullscreen window (i.e. without borders etc.). Better name is `maximized()`, or even better, something like `state(requestedState: WindowState)` where `WindowState` is an enum `enum WindowState { Normal, Maximi

[2020-08-03 23:04] thivmcthiv2 opened #285 "Multiple lines in a TextBlock"
Hello all,

Is there any way to have multiple lines of text in a TextBlock? I tried the usual escape characters (\n \r) but it didn't work to make a new line. Is there any way to do this?

[2020-08-04 09:30] kivimango commented on #285
Hello.
I think this is currently not possible. We will fix this soon.

(For a workaround, you could try splitting the text on \n or \r characters, and create a new TextBlock for every slice, then placing the TextBlocks on top of each other in a Stack with spacing 0.

[2020-08-04 20:35] darkcharmander commented on #264
Installing the packages that @FloVanGH mentioned didn't work: they were already installed on my computer but I still have problems,

The 'image' example doesn't work. It compiles fine but after you try to start it, you get this in the console:
[code]
Other examples like e.g. the calculator do work fine. It 'could' be a driver issue since I am running this machine in VirtualBox.
OS: Kubuntu 20.04 x

[2020-08-04 21:30] thivmcthiv2 commented on #285
Oh ok. Thanks

[2020-08-04 21:30] #285 closed

[2020-08-04 23:08] thivmcthiv2 opened #286 "Correct way to use ItemsWidget?"
Hello! a bit of a newbie question here, but I'm trying to figure out how to effectively append widgets into an ItemsWidget inside of  a popup.     I saw how this was done in the widgets.rs example, but frankly I don't completly understand it :) I assume that I need to use the items_builder method like this:
[code]

to the best of my knowledge, the .items_builder method is what appends the entities

[2020-08-05 08:48] kivimango commented on #286
You need to set the ```count``` property on the ItemsWidget when you add items to it.

in data_popup() on ItemsWidget:
[code]

Otherwise, the ItemsWidget won't update itself because both the state's value and the widget's property is 0.
[ItemsWidget.rs](https://github.com/redox-os/orbtk/blob/develop/crates/widgets/src/items_widget.rs) line 14.

I will add some documentation and an example of how t

[2020-08-06 05:51] shadiakiki1986 commented on #264
In my case it turned out that the `pkg-config` program was not installed. Installed it with `sudo apt-get install -y pkg-config`. It turns out that there's an open issue for it in [pkg-config-rs/issues/103](https://github.com/rust-lang/pkg-config-rs/issues/103), which in its turn is used by [rust-xkbcommon-sys](https://github.com/meh/rust-xkbcommon-sys/)

[2020-08-06 06:41] shadiakiki1986 commented on #184
My 2 cents:
- if I ssh into ubuntu server 20.04, launch a `screen` session, and try to build the minimal example on the README, then I get the same `Failed to create window "XOpenDisplay failed"`. This panic would make sense because there is no GUI at this stage
- if I use Remmina to connect to the desktop gui via RDP, launch a terminal, attach to the earlier ssh screen session with `screen -rd`,

[2020-08-06 06:45] shadiakiki1986 commented on #184
Btw, fun fact: building the minimal example with `DISPLAY=:10.0` from a terminal via ssh (no GUI) would display the window in the session via remote desktop (RDP). I found that convenient for testing since I can develop in the ssh terminal outside Remmina (remote desktop client) on one side of my screen, and then view the build GUI in Remmina on the other side of my screen.

[2020-08-06 08:44] darkcharmander commented on #264
I don't know why, but I re-downloaded orbtk and recompiled everything, and the image sample works now. Disregard my previous post!

[2020-08-06 08:54] shadiakiki1986 commented on #243
Here is an example implementation with orbtk that runs tasks on a separate thread without freezing the UI:
[link](https://github.com/shadiakiki1986/orbtk-async-example/blob/master/examples/orbtk_oneButton_async.rs)

It just has 2 buttons:
 * Button 1 (S): Runs some syncronous code containing a "sleep" and shows how the GUI hangs
 * Button 2 (A): Runs the same sleep code in a separate thread and sh

[2020-08-06 13:56] uniformbuffer opened #288 "On [add/remove] child callback"
# Context
Hi, i was wondering if could be useful to get a notification (through a callback) about adding/removing child from a widget for the widget itself.

# In which context or scenario will your feature/widget be used?
A usage scenario of this feature could be to give to a widget the possiblity to "accept" children added from the outside and elaborate them as added by self.
For example, think

[2020-08-06 19:54] thivmcthiv2 commented on #286
Oh ok, so the count is  incremented each time it is built using:

[code]

the only problem with that is that in my case, I have to use the data_popup() function to create a popup, and if I add ```ctx: Context``` as a parameter, that causes a lot of borrowing and lifetime issues since ctx has to explicitly be Context<'static>,  and if I want to pass a reference to ctx into the data_popup function i

[2020-08-07 01:58] thivmcthiv2 commented on #286
Oh wait, nvm I figured it out. Thanks for all of the help!

[2020-08-07 08:39] kivimango commented on #286
No, not really.The `count` property is the count of the items in the ItemsWidget.So if you set the count property to 4, it will call the `items_builder()` 4 times, and builds and displays 4 children.

I think `Context` does need to be static. All you need is a mutable reference: `ctx: &mut Context` in the data_popup() fn's signature.

[2020-08-07 17:52] uniformbuffer opened #289 "[Question] There is a way to get the "real size" of a widget from context?"
Hi,
i would like to know if there is a way to get the "real size" of a widget from the entity using `Context` (using something like `ctx.get_widget(entity).clone::<Rectangle>("real_size")`).
For "real size" i mean the size that is finally displayed.
I know that is possible to get the `bounds`, that is the area that the widget could occupy.
Then there is the `h_align` and `v_align` that manage the

[2020-08-08 13:49] uniformbuffer commented on #272
Hi,
i've been testing the fix on the previous post for a while and seems to work correctly and don't cause issues on widgets. I have also noticed that, for the same reason of the Option< T >, the trait `IntoPropertySource< T >` is not implemented for tuples. The fix will also implement the trait for tuples since it works on generic T, that could be anything from Vec<T> to (u32,f64).
If you want i

[2020-08-08 15:23] uniformbuffer opened #290 "Serializing/Deserializing widgets"
# Context
Hi, i'm developing a dnd-like managing app using Orbtk. The biggest part of this app is the Battlefield widget that is a basic 2d engine that use Orbtk widgets as drawing elements. I have also created a special ShapeWidget that is an Orbtk widget that draw a shape and at the same time have a physical shape that can interact with nphysics2d physic engine to get physic reaction from collis

[2020-08-09 09:20] AlveLarsson opened #291 "Unresponsive / laggy"
**Describe the bug**
I've recently tried to use OrbTK and it's quite un-responsive,

- All Text input is slow and can't catch up when pressing multiple keys at once (compared to native)
- The slider is also unresponsive and can't catch up

I'm running this in release mode on a 1080Ti, with a 144hz monitor.
**Expected behavior**
Compared to native and web it's very unresponsive.

**Screenshots**
ht

[2020-08-09 09:39] FloVanGH commented on #291
Hi, thank you for the report. We have done a lot of performance improvements for the upcoming release 0.3.1-alpha3. Could you check if you have the same issue with the sources if the current development branch, please. The next version will be released soon.

Thank you

[2020-08-09 11:33] AlveLarsson commented on #291
You mean on
`orbtk = { git = "https://github.com/redox-os/orbtk.git", branch= "develop" }`
as i did record the same thing on the latest commit

[2020-08-09 17:35] FloVanGH commented on #291
I've checked your video and after I've read your description I imagined it much worse. It's still an alpha version and it's not yet optimized enough to be as fast as native frameworks. Until now the main purpose was to create a usable api and to add features. With 0.3 we've started from scratch. Until the stable release each version alpha and beta will contains performance improvements. So 0.3.1-a

[2020-08-10 06:21] FloVanGH commented on #286
@thivmcthiv2 could we close this issue or do you have any further questions.

[2020-08-10 06:28] FloVanGH commented on #288
Thank you for your proposal.

I'm not sure if it is an expected behavior. If something could not be added or removed I think it should be an error. Otherwise it is difficult to understand.

In general I think it could  be useful to have something like your suggestion on item based widgets like `ItemsWidget`, `ListView`, `ComboBox` and `TabWidget`.

[code]

What do you think?

[2020-08-10 06:30] FloVanGH commented on #289
Hi,
you could read the real size of a widget (finished calculated size) on the `update_post_layout` method of the state. There the width and height of `bounds` represents the real size. `position` is only an internal property that is used to draw the widgets on the right position.

[2020-08-10 06:33] FloVanGH commented on #243
@shadiakiki1986 thank you very much for the example. With `0.3.1-alpha4` we will introduce a way to handle async task from a state.

[2020-08-10 06:33] FloVanGH commented on #270
Thank you. Did you get anywhere with it?

[2020-08-10 06:35] FloVanGH commented on #221
@ChayimFriedman2 thank you for your input. It will be included in the `0.3.1-alpha4` relase.

[2020-08-10 06:44] FloVanGH commented on #290
I'm looking forward ;-)

I'm working also on OrbGame a 2D game engine based on OrbTk. I think about to integrate the stuff of OrbGame in OrbTk and to make it available by a `game` cargo feature. I will soon do a survery on the redox chat about that topic. Maybe we could in this course integrate some of you widgets in OrbTk. What do you think?

While thinking about serializing and deserializing wid

[2020-08-10 11:25] uniformbuffer commented on #288
Oh, sure, i didn't think about that, you are right.

Passing the index work for adding entity, but retrieving an entity that has been removed could be a bit tricky. On `on_item_added` there should be no problem, from the index is possible retrieve the entity from the context (using `child_from_index`), so there is no problem. On `on_item_removed` instead could be difficult to get the removed entit

[2020-08-10 11:46] uniformbuffer commented on #290
I think it's a great idea. Since the game widgets are behind a cargo feature, they are not compiled unless the feature is used, so they do not affect compilation time for users that does not need game widget. At the same time a user could easily get all the game widget by simply setting a feature.

Sure, I'm always happy to contribute. I'm still prototyping, but if you want i could load the code i

[2020-08-10 11:47] uniformbuffer commented on #289
Oh, i didn't know that. Thanks!

[2020-08-10 11:50] uniformbuffer commented on #270
Unfortunatly no, i still have some problem to fully understand how Orbtk work internally, especially about callbacks. I will keep looking for the problem.

[2020-08-10 12:01] FloVanGH commented on #270
Ok that with the `NumericBox` `on_change` was a bug and is now fixed.

[2020-08-10 13:05] thivmcthiv2 commented on #286
I dont have further questions about the widget. Thanks for the help!

[2020-08-10 13:05] #286 closed

[2020-08-10 13:08] thivmcthiv2 commented on #291
It could be that you are using the debug build. I couldn't see which build you were using by the video, but I noticed that on older versions the debug build has a much worse performance.

[2020-08-10 15:15] uniformbuffer opened #292 "OrbTk application does not start on Wayland"
**Describe the bug**
OrbTk application fail to create window when launched on Wayland based desktop environment.

**To Reproduce**
Run any application on a Wayland based desktop environment.

**Expected behavior**
OrbTk should be able to run on Wayland.

**Screenshots**
The application crash on start with the following error:
[code]

**Desktop (please complete the following information):**
 - OS:

[2020-08-11 12:25] AlveLarsson commented on #291
@FloVanGH All ok, just letting you know, I'd love to check it out later when the new versions are out. Also, I changed the video for you so it says 0.3.1-alpha2.

@thivmcthiv2 I did use the --release tag for the video and the other tests.

Also capturing on video that text input is slow is quite hard.

[2020-08-12 04:28] FloVanGH commented on #292
Thank you for the report.

Yes you are right, the new backend will be build on glutin (winit) and it supports wayland.

There are some adjustments of the wayland support in minifb, that I not yet merged in my fork. I will try to do it before the next release.

[2020-08-12 04:31] FloVanGH commented on #291
@AlveLarsson thank you very much. I'm glade you are interested in OrbTk. I think the next performance boost will come in the next weeks with the new backend. I will let you know when it's done.

I will close this issue because performance optimization will be a ongoing topic in the further development.

[2020-08-12 04:31] #291 closed

[2020-08-12 06:36] smmalis37 commented on #128
So I'm new to OrbTK, and this may be documented elsewhere, but why not just use the built in String? What advantages does UTF-16 have that make its use necessary? It would be a large ergonomics improvement if standard Strings could work instead imo.

[2020-08-12 06:48] FloVanGH commented on #128
I had problems with default String type on text input. Because some signs like `ä` or `ö`will be count as two signs. That is complicated e.g. by positing the text cursor. In the String16 struct the length of `ä`  and `ö` is also 1 as `a` and `o`.

[2020-08-12 06:58] smmalis37 commented on #128
Wouldn't using something like [unicode-segmentation](https://crates.io/crates/unicode-segmentation) and its support for grapheme clusters handle all that?

[2020-08-12 06:59] FloVanGH commented on #128
Thank you for the hint. I will check it, maybe it could be a solution.

[2020-08-12 07:54] smmalis37 commented on #128
Also, UTF-16 will still treat some signs as multiple characters, for example: 🤦🏼‍♂️. That one emoji is 7 UTF-16 code units.

[2020-08-12 09:33] FloVanGH opened #294 "TextBlock: text wrap"
# Context

Possibility to wrap text on a TextBlock.

# Problem description & Solution

If the measured length of a text is bigger then the width of the TextBlock and wrapping on the TextBlock is activated the Text should wrap in the next line.

# Examples and MockUps

[code]

[2020-08-12 18:42] uniformbuffer commented on #221
Hi, i think this feature could be implemented more easily when the new glutin backend arrives since it already have on WindowBuilder struct the function `pub fn with_fullscreen(self, monitor: Option<Fullscreen>) -> WindowBuilder` that can be used to set fullscreen exclusive window or borderless window. (https://docs.rs/glutin/0.24.1/glutin/window/struct.WindowBuilder.html#method.with_fullscreen)

[2020-08-12 18:44] #289 closed

[2020-08-12 18:55] kivimango commented on #294
The original issue was #285, unfortunately it was closed by the author.

[2020-08-13 04:23] FloVanGH commented on #281
It should be checked with the new backend. Therefore this issue should be fixed after the new backend is finished in 0.3.1-alpha4

[2020-08-13 05:13] FloVanGH commented on #240
Yes looks like it's a problem in minifb I've created an issue https://github.com/emoon/rust_minifb/issues/203. I will postpone this to the 0.3.1-alpha4 release, because the backend should also solve this problem.

[2020-08-13 05:40] FloVanGH commented on #275
Done thank you @kivimango

[2020-08-13 05:40] #275 closed

[2020-08-13 16:07] fstephany commented on #279
I have a similar bug on Fedora 32 (vanilla Gnome+Wayland).

- window decorations are not drawn and the window is stuck on the top left corner of the screen (cf screenshot)
- `Failed to create server-side surface decoration: Missing` is printed in the terminal

![Screenshot from 2020-08-13 17-51-55](https://user-images.githubusercontent.com/35817/90158812-ca297d80-dd8f-11ea-99f0-b231431f707a.png)

[2020-08-14 16:32] grelltrier commented on #279
Same on Arch + Gnome + Wayland. Also in the application overview the box around the application window is not drawn correctly. I tried all the examples and all of them exceed the frame

![OrbTk](https://user-images.githubusercontent.com/67273701/90271358-387f4600-de4b-11ea-9ff9-99b2afea00af.png)

[2020-08-14 17:58] FloVanGH commented on #279
@grelltrier could you do me a favor and check if you have the same problems on the orblient branch? If you check it one note, there the key events do not work at the moment.

[2020-08-14 20:52] grelltrier commented on #279
Sure, with this branch I had to install cmake because sdl2-sys needed me to do so. After that was done, everything worked perfectly fine :) I get a cursor, the window is no longer popping up partially outside of my window, the window is decorated and the frame in the application overview matches.
Resizing the window unfortunately crashes it and it takes a long time to react to my input though but

[2020-08-15 09:05] FloVanGH commented on #292
I've updated minifb could you check if it work now? There is also a OrbClient branch it should work for Wayland.

[2020-08-15 12:02] uniformbuffer commented on #292
Hi,
on develop branch the application start, but window decoration is missing. I got the same error as https://github.com/redox-os/orbtk/issues/279 : Failed to create server-side surface decoration: Missing
I think that, on wayland protocol, the window is configured to let the server decorate it, but if the server haven't this feature, the window will appear without decoration, making hard to mana

[2020-08-15 18:05] FloVanGH commented on #292
Hi,

thank you for checking!

The problem is that the minifb wayland support is very new and the development of minifb is very slow. Therefore I evaluated some alternatives. My favorite is glutin with pathfinder, it works well, is very fast (Hardware Acceleration) but I have trouble with some systems because of driver issues. Also with other alternatives.

What works best is orbclient with raqote.

[2020-08-15 18:05] FloVanGH commented on #292
https://gitlab.redox-os.org/redox-os/orbclient

[2020-08-17 10:49] uniformbuffer opened #296 "ComboBox changes does not trigger on_changed callback"
**Describe the bug**
When the selected item of a ComboBox is changed, the `on_changed` callback is not called.

**To Reproduce**
I have made a little example:
[code]
This should print "Changed {property name}" every time a property of the ComboBox change, but nothing is printed.

**Expected behavior**
When a ComboBox property is changed, an `on_changed` callback should be triggered.

**Desktop (pl

[2020-08-17 11:10] uniformbuffer commented on #294
Since the feature develop is on going, maybe another wrap mode that could be added is "truncate", where if the parent that contain the TextBlock is too small, the text is truncated adding, for example, 3 dots at the end, something like "1234567...".
What do you think?
Have a good day

[2020-08-18 04:23] #197 closed

[2020-08-18 04:25] FloVanGH commented on #226
@pheki could you also check the orbclient branch please? I have to check if it works also on metal less macOS.

[2020-08-18 04:28] FloVanGH commented on #294
TextBlock should also provide `truncate`. It should also be possible to combine it with text wrap.

If you want you could create a separate issue.

Thank you for the input.

[2020-08-18 04:32] FloVanGH commented on #296
fixed

[2020-08-18 04:32] #296 closed

[2020-08-18 04:36] FloVanGH commented on #279
@grelltrier could you also check the develop branch with `cargo run --example widgets --features pathfinder`?

[2020-08-18 05:43] pheki commented on #226
Short answer: I think so.

Long answer:

It kind of works (takes very long to init and after that, when I move the mouse over it glitches), sometimes it hangs my CPU for seconds. I actually compiled on a newer macOS, in both debug and release mode (to try help with the CPU usage), while the hang seemed shorter on release the glitches are the same. On a newer mac (with metal) the glitch is a black

[2020-08-18 10:13] uniformbuffer commented on #296
Thanks!

[2020-08-18 12:49] kivimango commented on #170
i started looking into this.
I added some println to the calculate_row_weight() fn in [grid.rs](https://github.com/redox-os/orbtk/blob/develop/crates/api/src/layout/grid.rs)

[code]

Running the example provided produces the following:
0: begin calculating rows, row number: 0
1: child_height: 16
3: height is not in the BTreeMap, inserting height 16 for row 0
0: begin calculating rows, row number:

[2020-08-18 13:09] uniformbuffer opened #298 "Improvement for Popup Widget"
Hi,
for the application i'm making (and in particular for the 2D engine) i would like to place widgets that float around other widgets or point.
For example if i draw a shape (as a widget) on the 2D engine, i would like to place some text over it with some info, depending on the context. This feature could be also used in a general way, for example: suppose i would like to show a popup when the us

[2020-08-18 13:42] FloVanGH commented on #170
Ok thank you for help. Do you want to fix it? Otherwise I can do it.

[2020-08-18 13:45] kivimango commented on #170
Yes, I would like to, but im not so familiar with this part of the codebase.
Can you give me some direction ?
Thanks.

[2020-08-18 13:47] FloVanGH commented on #298
Hey,

that's awesome. Yes please make this PR.

Thank you

[2020-08-18 16:53] FloVanGH commented on #170
Do you have a concrete question. Would do you need to know to start?

[2020-08-18 17:24] uniformbuffer commented on #298
Sure,
would you like to implement it as a replacement of the current popup or as a separate widget?
Also before push i would like to understand why the popup is decentered relative to the target, otherwise there could be some alignment problem for ComboBox. The formulas seems ok and if i set a point as target, the popup is placed correctly (i have tested this separately, it is not in the example,

[2020-08-18 18:58] kivimango commented on #298
Can this be modified to make it look like a tooltip? (like when you mouse over a widget, and a small rectangle shows up with some text)

[2020-08-18 18:59] kivimango commented on #170
Yes, I would like to know where to start.
How does the GridLayout exactly work?

[2020-08-18 19:10] uniformbuffer commented on #298
It should be ready for that, it is one of new uses since it can appear over any target. It is only needed that the target set the popup "visible" when the mouse hover on it and set "hidden" when not.

[2020-08-18 22:30] grelltrier commented on #279
I tried but I get multiple compiler warnings and when running it, it panics. Here is the backlog:

`
[user@archlnx orbtk]$ RUST_BACKTRACE=1 cargo run --example widgets --features pathfinder
warning: unused variable: `family`
   --> crates/render/src/pathfinder/mod.rs:143:37
    |
143 |     pub fn register_font(&mut self, family: &str, font_file: &'static [u8]) {}
    |

[2020-08-18 22:55] grelltrier commented on #279
The above was when using Rust stable. When I use nightly I basically get the same result:

`thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', /home/user/.cargo/registry/src/github.com-1ecc6299db9ec823/winit-0.22.2/src/platform_impl/linux/wayland/window.rs:398:56`

[2020-08-19 04:21] FloVanGH commented on #170
Ok will try it.

common layouting:

* `measure`: ask every child which is it's favorite size
* `arrange`: calculate real size and sets the position of the children

grid layouting:

* The grid is inspired by the Grid control of WPF https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.grid?view=netcore-3.1
* Fixed size of a column or row `Grid::columns(Columns::create().column(16)`:

[2020-08-19 05:23] FloVanGH commented on #298
@uniformbuffer I would like to prefer it as replacement of the current widget. I case of the ComboBox the Popup should be left aligned and not centered to the ComboBox. It also should use the same width of its target. Maybe it would make sense to use the vertical / horizontal alignment property.

Example:

[code]
The Popup will be positioned at the bottom of the target and has the same width as th

[2020-08-19 12:43] uniformbuffer commented on #298
I think using alignment make perfectly sense and give the user the ability to customize more the positioning of the popup. I will implement it.

Thanks! I will give it a look.

[2020-08-19 19:27] uniformbuffer commented on #298
Hi,
i have changed the way the popup position itself: now use the `h_align` or `v_align` (based on the `relative_position`) to position and measure the popup. I need to test more, but should work.
Also your suggestion to use the `position` worked perfectly. The only problem is that on first run, the `position` that i get from the target is (0,0), making the popup position itself wrongly. Changing

[2020-08-20 08:06] FloVanGH commented on #298
Hi,
great work, thank you.

Have a nice day too.

[2020-08-20 13:43] ChatPion opened #299 "Nesting a Grid inside a Stack displays the rest at the wrong position"
**Describe the bug**
When nesting a Grid inside a Stack, the elements of the stack after the Grid are not in the correct position.

**To Reproduce**
For example, this code produces the following image :
[code]
![2020-08-20_15-42](https://user-images.githubusercontent.com/3697923/90777448-ba63e900-e2fb-11ea-9678-8321199267ab.png)

**Expected behavior**
In my example, `Button 3` should be below `But

[2020-08-20 18:12] uniformbuffer commented on #298
Hi,
i have fixed the "ghost trail" that have appeared when moving the popup. Basically there was a difference between the `bounds` of the popup and it's effective shape. I have fixed it applying constraint to the `bound`, so now have the same shape as the popup itself.
The only bug that remain to fix is the initial wrong positioning due to the initial (0,0) `position` property of the target. Since

[2020-08-20 18:53] FloVanGH commented on #298
Hi,
position is calculated on rendering. On layout arrange the tree will iterate on reverse order. Therefore you do not have your parents position on this time. If we need the position directly after layout and before rendering we need an extra iteration through the tree. It is possible but has a little impact to the performance.

Yes because of the performance impact.

Have a nice day too.

[2020-08-21 04:02] FloVanGH commented on #299
Thank you for the report. @kivimango maybe it is connected to the grid `auto` issue.

[2020-08-21 08:53] ChatPion commented on #299
I think it is indeed linked to #170
By the way, it is the same with horizontal Stack, thus a fix for the aforementioned issue should cover both auto height and width.

[2020-08-21 11:46] ChatPion opened #300 "Can't override property from theme file"
**Describe the bug**
I can't override a property that is already defined in a RON file with `.style()`. I don't know whether it is by design or it is a bug.

**Example**
style.ron
[code]

main.rs
[code]
If I run this file as is, I see this:
![2020-08-21_13-44](https://user-images.githubusercontent.com/3697923/90887369-86003380-e3b4-11ea-8e09-7bf76bcb340a.png)

But if I comment (1), I see this:
![2